// Micro Site Disclaimer page styles

//Landing page
//Hero
.c-hero-ms__disclaimer {
  height: 400px;
  @include media($bp-large) {
    height: 360px;
  }
}

// Hero Title
//
// .c-hero__title--long - Variation for longer titles. Matches h1 styling
//
.c-hero__title {
  @include font-size-xxx-large;
  line-height: 1;
  padding-top: rem-calc(($sticker-size-mobile / 2) + 3);
  text-transform: uppercase;
  // Set z-index for text to appear on top of bg image
  z-index: 1;
}