// Micro Site Inspiration page styles

//Hero
.c-hero-inspiration {
  background-size: cover;
}

//Sidebar styles
.c-details-list-ms__inspiration {
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
  .c-details-list-ms__descr {
    padding-left: 0;
    padding-right: 0;

    @include media($bp-large) {
      background: $very-light-gray;
      padding: rem-calc(0 30 17);
    }

    &.c-prof-name {
      padding-top: 0;
      @include media($bp-large) {
        padding-top: rem-calc(15px);
      }
      padding-bottom: rem-calc(5px);
      h2 {
        font-size: rem-calc(40px);
        text-transform: none;
        margin-bottom: 0;
      }
    }

    &.c-prof-country {
      font-family: $font-family-display;
      font-weight: $font-weight-extrablack;
      padding: rem-calc(0);

      @include media($bp-large) {
        padding: rem-calc(0 30 17);
      }
    }

    &.c-prof-intro {
      display: none;
      border-top: 2px solid $white;
      padding-top: rem-calc(15px);
      padding-bottom: 0;
      @include media($bp-large) {
        display: block;
        padding-bottom: rem-calc(15px);
      }
    }
  }
}

//Detail page side bar
.c-details-list-ms__inspiration--detail {
  .c-details-list-ms__descr {
    &.c-prof-intro {
      display: block;
    }
  }
}

//Detail page content section
.o-article-ms__inspiration--detail {
  padding-top: rem-calc(45);
  @include media($bp-large) {
    padding-top: 0;
  }
}

//Content Styles
.s-wysiwyg .c-other-inspirations,
.c-other-inspirations {
  background: $very-light-gray;
  padding: rem-calc(30px);

  .c-card__title {
    margin-top: 0;
    margin-bottom: rem-calc(8);
    text-decoration: none;

    a {
      text-decoration: none;
    }
  }

  .c-card__body {
    p {
      margin-bottom: rem-calc(30);
    }
  }

  .c-card__subtitle {
    display: none;
  }

  .c-card__sticker {
    background-size: cover !important;
  }

  .c-other-inspirations__title {
    margin: rem-calc(0 0 15px);
  }

  .button--primary__blue {
    padding: rem-calc(14 20);
    @include media($bp-large) {
      padding: rem-calc(14 30);
    }
  }
}

.c-card-invert {
  background: $color-background;
  display: flex;
  flex-flow: column;
  margin-left: rem-calc($sticker-size-mobile / 2.75);
  margin-right: 0;
  padding: rem-calc(25 21 25 ($sticker-size-mobile / 2) + 10);
  position: relative;
  margin-bottom: rem-calc(20);
  @include media($bp-large) {
    margin-left: rem-calc($sticker-size / 2);
    padding: rem-calc(30);
    padding-left: rem-calc(($sticker-size / 2) + 20);
  }

  .c-card__sticker {
    order: 1;
    position: absolute;
    left: rem-calc(-$sticker-size-mobile / 2);
    top: rem-calc(10);

    .event-day {
      display: none;
    }

    @include media($bp-large) {
      left: rem-calc(-$sticker-size / 2);
    }
  }
}

//Landing Page
//Intro on the top
.c-card-inspiration__profile {
  margin-right: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;

  h2 {
    margin-bottom: rem-calc(5);
    &.c-intro__subheading {
      margin-bottom: 0;
    }
  }

  padding-left: rem-calc($outer-gutter-small);
  padding-right: rem-calc($outer-gutter-small);

  @include media($bp-medium) {
    padding-left: rem-calc($outer-gutter-medium);
    padding-right: rem-calc($outer-gutter-medium);
  }

  @include media($bp-large) {
    padding-left: 0;
    padding-right: 0;
  }

  .c-card__title {
    display: none;
  }

  .c-card__body {
    margin-bottom: 0;
  }
}

.c-nav-list-ms__inspiration {
  .c-nav-list__item {
    .c-nav-list__link {
      background: $dark-blue;
      border-color: $dark-blue;

      &:focus,
      &.is-active {
        background: $very-dark-blue-1;
        border-color: $very-dark-blue-1;
      }

      .no-touchevents & {
        &:hover {
          background: $very-dark-blue-1;
          border-color: $very-dark-blue-1;
        }
      }
    }
  }
}

//Intro image
.c-intro__img {
  overflow: hidden;
  width: 100%;
  height: rem-calc(200px);
  margin: rem-calc(0 0 30);
  @include media($bp-large) {
    height: rem-calc(440px);
    margin: rem-calc(0 0 60);
  }

  img {
    max-width: 100%;
  }
}

//Feature intro
//show only on mobile
.c-featured-intro {
  margin: rem-calc(0 0 50);
  @include media($bp-large) {
    display: none;
  }
}

//Q & A section
.c-inspiration-qa__wrapper {
  .button--primary__blue {
    margin-top: rem-calc(30);
  }
}

.c-inspiration_qa {
  padding-bottom: rem-calc(30);
  &:last-of-type {
    padding-bottom: 0;
  }
  h3 {
    margin-top: 0;
    margin-bottom: rem-calc(5);
  }
}

//Curved blue button
.button--primary__blue {
  background: $dark-blue;
  color: $white;
  border-color: $dark-blue;
  text-transform: none;

  &:focus {
    background: $very-dark-blue-1;
    border-color: $very-dark-blue-1;
  }

  .no-touchevents & {
    &:hover {
      background: $very-dark-blue-1;
      border-color: $very-dark-blue-1;
    }
  }
}

//CTA Button full width
.button--inspiration__cta {
  width: 100%;
  @include media($bp-medium) {
    width: auto;
  }
}