// Micro Site Trips page styles

//Landing page
//Hero
.c-hero-ms__trips {
  background-color: $green;
}

//Sidebar list
.c-list-box-ms__trips {
  padding: 0;
  .c-list-box__heading {
    background: $green;
  }
  .c-list-box__content {
    background: $dark-green;
  }

  .c-list-box__subitem {
    &:focus {
      background: $very-dark-green;
    }

    .no-touchevents & {
      &:hover {
        background: $very-dark-green;
      }
    }
  }
}

.c-nav-list--dark-green {
  .c-nav-list__item {
    .c-nav-list__link {
      background: $green;
      border-color: $green;

      &:focus,
      &.is-active {
        background: $dark-green;
        border-color: $dark-green;
      }

      .no-touchevents & {
        &:hover {
          background: $dark-green;
          border-color: $dark-green;
        }
      }
    }
  }
}

.c-block-list-ms__trips {
  .c-card__title {
    a {
      text-decoration: underline;
      &:focus {
        color: $green;
      }

      .no-touchevents & {
        &:hover {
          color: $green;
        }
      }
    }
  }

  .button--pill {
    &:first-child {
      background: $green;
      &:focus {
        background: $light-green;
      }

      .no-touchevents & {
        &:hover {
          background: $light-green;
        }
      }
    }
    background: $very-dark-green;

    &:focus {
      background: $green;
    }

    .no-touchevents & {
      &:hover {
        background: $green;
      }
    }
  }

  .c-card__sticker {
    background: $green;
  }

  .c-block-list-trips__title {
    margin-bottom: 0;
  }

  .c-card__link {
    margin-top: rem-calc(10);
    &:hover {
      svg {
        fill: $very-dark-gray;
      }
    }
  }

  &.c-block-list-ms__trips--week {
    .button--pill {
      &:first-child {
        background: $very-dark-green;
        &:focus {
          background: $green;
        }

        .no-touchevents & {
          &:hover {
            background: $green;
          }
        }
      }
      background: $green;

      &:focus {
        background: $light-green;
      }

      .no-touchevents & {
        &:hover {
          background: $light-green;
        }
      }
    }
  }
}

//Location Details
.c-page__location--details {
  @include media($bp-large) {
    margin-top: rem-calc(70);
  }
}

//Button Pill
.button--pill--trip {
  background: $green;
  &:hover {
    background: $light-green;
  }

  &:focus {
    background: $dark-green;
  }

  .no-touchevents & {
    &:hover {
      background: $dark-green;
    }
  }
}

//WYSIWYG Style overrides
.c-page__content {
  h2 {
    margin-top: rem-calc(20);
    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin-bottom: rem-calc(15);
  }
}

//Google Map [ACF] styles
.acf-map {
  float: left;
  width: 100%;
  height: 400px;
  margin: rem-calc(40 0);
}

//Article Content
.o-article-trip {

  //Detail page
  //Page Intro
  .c-page__intro,
  .c-page__content {
    margin-bottom: rem-calc(30);
  }

  .c-page__content {
    @include media($bp-large) {
      margin-bottom: 0;
    }
  }
}

//Article Sidebar
.o-article-trip-sidebar {
  // @include media($bp-large) {
  //   float: left;
  // }
  float: right;
  ul {
    margin-top: 0;
  }
  dt {
    margin-bottom: 5px;
  }
}

//Tips
.c-tip--dark-green {
  text-align: center;
  &,
  .c-tip__sticker {
    background: $dark-green;
  }

  .c-tip__content {
    text-align: center;
  }
}

//SMS
.c-tip--sms__trips {
  &,
  .c-tip__sticker {
    background: $green;
  }
}

.button--primary__dark-green {
  background: $green;
  color: $white;
  border-color: $green;
  text-transform: none;
  &:focus {
    background: $dark-green;
    border-color: $dark-green;
  }

  .no-touchevents & {
    &:hover {
      background: $dark-green;
      border-color: $dark-green;
    }
  }

  &[disabled],
  &[disabled]:hover {
    background: $green;
    border-color: $green;
    cursor: default;
  }
}

// .signup-form__label-content--green {
//   color: $dark-green;
//   &:after {
//     color: $white;
//   }
// }

.dark-green-svg {
  .stop1 {
    stop-color: $green;
  }
  .stop2 {
    stop-color: $dark-green;
  }
}