// Micro Site Trips page styles

//Page Intro
.c-page__intro {
  margin-bottom: rem-calc(30);
}

//Location Details
.c-page__location--details {
  @include media($bp-large) {
    margin-top: rem-calc(70);
  }
}

//Button Pill
.button--pill--trip {
  background: $green;
  &:hover {
    background: $dark-green;
  }
}

.no-touchevents .button--pill--trip {
  &:hover {
    background: $dark-green;
  }
}

//Google Map [ACF] styles
.acf-map {
  float: left;
  width: 100%;
  height: 400px;
  margin: rem-calc(40 0);
}

//Article Content
.o-article-ms {
  float: right;
}

//Article Sidebar
.o-article-ms-sidebar {
  float: left;
}