// Micro Site Trips page styles

//Page Intro
.page-intro {
  margin-bottom: rem-calc(30);
}

//Location Details
.location-details {
  margin-top: rem-calc(70);
}

//Button Pill
.button--pill--trip {
  background: $green;
  &:hover {
    background: $dark-green;
  }
}

.no-touchevents .button--pill--trip {
  &:hover {
    background: $dark-green;
  }
}

//WYSIWYG Style overrides
.s-wysiwyg {
  h3 {
    margin: rem-calc(14 0 0);
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;

    li {
      text-indent: 0;
      padding-left: rem-calc(18);
      padding-bottom: 0;
      &:before {
        content: none;
      }
    }
  }
}

//Google Map [ACF] styles
.acf-map {
  float: left;
  width: 100%;
  height: 400px;
  margin: rem-calc(40 0);
}