// Mixins for font sizes and styles

// Font Sizes
// =====================
@mixin font-size($mobile, $large) {
  font-size: rem-calc($mobile);

  @include media($breakpoint-font) {
    font-size: rem-calc($large);
  }
}

@mixin font-size-x-small {
  @include font-size($font-size-x-small-mobile, $font-size-x-small);
}

@mixin font-size-small {
  @include font-size($font-size-small-mobile, $font-size-small);
}

@mixin font-size-regular {
  @include font-size($font-size-regular-mobile, $font-size-regular);
}

@mixin font-size-large {
  @include font-size($font-size-large-mobile, $font-size-large);
}

@mixin font-size-x-large {
  @include font-size($font-size-x-large-mobile, $font-size-x-large);
}

@mixin font-size-xx-large {
  @include font-size($font-size-xx-large-mobile, $font-size-xx-large);
}

@mixin text-uppercase {
  letter-spacing: .5px;
  line-height: 1;
  text-transform: uppercase;
}