<div id="mc_embed_signup" class="c-signup-form aligncenter">
	<form action="https://twitter.us19.list-manage.com/subscribe/post-json?u=5eda3ff3b81179e054b712d63&amp;id=e84846ac41&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="guny-contact" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
			<h2 class="text-center">{{post.title}}</h2>
			<p class="text-center">{{post.content}}</p>
	    {# <div class="signup-form__error guny-error"></div> #}

			<div class="mc-field-group">
				<label for="mce-EMAIL">Email  <span class="asterisk">*</span></label>
		    <div class="guny-error-detailed"></div>
        <input type="email" value="" name="EMAIL" class="email form-field signup-form__field-blue" id="mce-EMAIL" required>
			</div>
			<div class="mc-field-group">
				<label for="mce-FNAME">First Name  <span class="asterisk">*</span></label>
		    <div class="guny-error-detailed"></div>
				<input type="text" value="" name="FNAME" class="form-field signup-form__field-blue" id="mce-FNAME" required>
			</div>
			<div class="mc-field-group">
				<label for="mce-LNAME">Last Name  <span class="asterisk">*</span></label>
		    <div class="guny-error-detailed"></div>
				<input type="text" value="" name="LNAME" class="form-field signup-form__field-blue" id="mce-LNAME" required>
			</div>
			<div class="mc-field-group">
				<label for="mce-ZIP">Zip Code  <span class="asterisk">*</span></label>
		    <div class="guny-error-detailed"></div>
				<input type="text" value="" name="ZIP" class="form-field signup-form__field-blue" id="mce-ZIP" required>
			</div>
			<div class="mc-field-group">
				<label for="mce-PHONENUM">Phone Number </label>
		    <div class="guny-error-detailed"></div>
				<input type="text" name="PHONENUM" class=" form-field signup-form__field-blue" value="" id="mce-PHONENUM" required>
			</div>
			<div class="mc-field-group">
				<label for="mce-ORGWEBSITE">Organization Website </label>
				<input type="url" value="" name="ORGWEBSITE" class="url form-field signup-form__field-blue" id="mce-ORGWEBSITE">
			</div>

			{# checkboxes #}
			<fieldset class="mc-field-group input-group">
		    <legend>I'd like to <span class="asterisk">*</span>: </legend>
		    <div class="guny-error-detailed"></div>
		    <p class="signup-form__checkbox-list">
		    	<label class="checkbox" for="mce-group[431]-431-0">
			    	<input type="checkbox" value="1" class="checkbox__field" name="group[431][1]" id="mce-group[431]-431-0" required>
            <svg class="checkbox__indicator-blue"><use xlink:href="#icon-check"></use></svg>
            Invite Growing Up NYC to an event
          </label>
        </p>

        <p class="signup-form__checkbox-list">
		    	<label class="checkbox" for="mce-group[431]-431-1">
			    	<input type="checkbox" value="2" class="checkbox__field" name="group[431][2]" id="mce-group[431]-431-1" required>
            <svg class="checkbox__indicator-blue"><use xlink:href="#icon-check"></use></svg>
            Request materials to pick up
          </label>
        </p>

        <p class="signup-form__checkbox-list">
		    	<label class="checkbox" for="mce-group[431]-431-2">
			    	<input type="checkbox" value="4" class="checkbox__field" name="group[431][4]" id="mce-group[431]-431-2" required>
            <svg class="checkbox__indicator-blue"><use xlink:href="#icon-check"></use></svg>
            Partner with Growing Up NYC
          </label>
        </p>

        <p class="signup-form__checkbox-list">
		    	<label class="checkbox" for="mce-group[431]-431-3">
			    	<input type="checkbox" value="8" class="checkbox__field" name="group[431][8]" id="mce-group[431]-431-3" required>
            <svg class="checkbox__indicator-blue"><use xlink:href="#icon-check"></use></svg>
            General Inquiry
          </label>
        </p>

			</fieldset>

			<div class="mc-field-group">
				<label for="mce-MESSAGE">Message (limit 255 characters)  <span class="asterisk">*</span></label>
		    <div class="guny-error-detailed"></div>
				<textarea type="text" value="" name="MESSAGE" class="form-field signup-form__field-blue textarea" id="mce-MESSAGE" required></textarea>
				<p class="char-count text-right"></p>
			</div>

			<div class="text-center">
	      <button id="mc-embedded-subscribe" class="signup-form__button button--simple button--simple--alt" type="submit">Submit</button>
			</div>

    </div>
	</form>
</div>