<div id="mc_embed_signup" class="c-signup-form aligncenter">
  <form action="https://nyc.us18.list-manage.com/subscribe/post-json?u=d04b7b607bddbd338b416fa89&amp;id=42bac07727&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="guny-contact" target="_blank" novalidate>
    <div class="signup-form-intro mb-10">
      <div class="text-center">
        <h2>{{post.title}}</h2>
        {% if featured_image %}
        <img src="{{featured_image}}" class="signup-form-logo">
        {% endif %}
      </div>
      {{post.post_content}}
    </div>

      {# <div class="signup-form__error guny-error"></div> #}

    <div class="mc-field-group signup-form__input--full mb-8">
      <label for="mce-EMAIL-contact" class="signup-form__label">Email <span class="asterisk">*</span></label>
      <div class="guny-error-detailed"></div>
      <input type="email" value="" name="EMAIL" class="email bg-color-gray-light signup-form__field form-field" id="mce-EMAIL-contact" required>
    </div>
    <div class="mc-field-group signup-form__input--full mb-8">
      <label for="mce-FNAME" class="signup-form__label">First Name <span class="asterisk">*</span></label>
      <div class="guny-error-detailed"></div>
      <input type="text" value="" name="FNAME" class="bg-color-gray-light signup-form__field form-field" id="mce-FNAME" required>
    </div>
    <div class="mc-field-group signup-form__input--full mb-8">
      <label for="mce-LNAME" class="signup-form__label">Last Name <span class="asterisk">*</span></label>
      <div class="guny-error-detailed"></div>
      <input type="text" value="" name="LNAME" class="bg-color-gray-light signup-form__field form-field" id="mce-LNAME" required>
    </div>
    <div class="mc-field-group signup-form__input--full mb-8">
      <label for="mce-ZIP-contact" class="signup-form__label">Zip Code <span class="asterisk">*</span></label>
      <div class="guny-error-detailed"></div>
      <input type="text" value="" name="ZIP" class="bg-color-gray-light signup-form__field form-field" id="mce-ZIP-contact" required>
    </div>
    <div class="mc-field-group signup-form__input--full mb-8">
      <label for="mce-PHONENUM" class="signup-form__label">Phone Number <span></span></label>
      <div class="guny-error-detailed"></div>
      <input type="text" name="PHONENUM" class=" bg-color-gray-light signup-form__field form-field" value="" id="mce-PHONENUM" required>
    </div>
    <div class="mc-field-group signup-form__input--full mb-8">
      <label for="mce-ORGWEBSITE" class="signup-form__label">Organization Website <span></span> </label>
      <input type="url" value="" name="ORGWEBSITE" class="url bg-color-gray-light signup-form__field form-field" id="mce-ORGWEBSITE">
    </div>
    
    {# checkboxes #}
    <fieldset class="mc-field-group input-group">
      <legend>I'd like to <span class="asterisk">*</span>: </legend>
      <div class="guny-error-detailed"></div>
      <p class="signup-form__checkbox-list">
        <label class="checkbox" for="mce-group[3433]-3433-0">
          <input type="checkbox" value="1" class="checkbox__field checkbox__field--gray-dark" name="group[3433][1]" id="mce-group[3433]-3433-0" required>
          <svg class="checkbox__indicator-light-gray"><use xlink:href="#icon-check"></use></svg>
          Invite Growing Up NYC to an event
        </label>
      </p>

      <p class="signup-form__checkbox-list">
        <label class="checkbox" for="mce-group[3433]-3433-1">
          <input type="checkbox" value="2" class="checkbox__field checkbox__field--gray-dark" name="group[3433][2]" id="mce-group[3433]-3433-1" required>
          <svg class="checkbox__indicator-light-gray"><use xlink:href="#icon-check"></use></svg>
          Request materials to pick up
        </label>
      </p>

      <p class="signup-form__checkbox-list">
        <label class="checkbox" for="mce-group[3433]-3433-2">
          <input type="checkbox" value="4" class="checkbox__field checkbox__field--gray-dark" name="group[3433][4]" id="mce-group[3433]-3433-2" required>
          <svg class="checkbox__indicator-light-gray"><use xlink:href="#icon-check"></use></svg>
          Partner with Growing Up NYC
        </label>
      </p>

      <p class="signup-form__checkbox-list">
        <label class="checkbox" for="mce-group[3433]-3433-3">
          <input type="checkbox" value="8" class="checkbox__field checkbox__field--gray-dark" name="group[3433][8]" id="mce-group[3433]-3433-3" required>
          <svg class="checkbox__indicator-light-gray"><use xlink:href="#icon-check"></use></svg>
          General Inquiry
        </label>
      </p>
    </fieldset>

    <div class="mc-field-group signup-form__input--full mt-5">
      <label for="mce-MESSAGE" class=""><span class="asterisk">Message (limit 255 characters) *</span></label>
      <div class="guny-error-detailed"></div>
      <textarea type="text" value="" name="MESSAGE" class="bg-color-gray-light form-field signup-form__field signup-form__field-light-gray textarea mt-4" id="mce-MESSAGE" required></textarea>
      <p class="char-count text-right"></p>
    </div>

    <div class="text-center">
      <button id="mc-embedded-contact" class="signup-form__button button--simple button--simple--alt" type="submit">Submit</button>
    </div>

  </form>
</div>