<div id="mc_embed_signup" class="c-signup-form aligncenter">
	<div class="signup-form-intro">
		<div class="text-center">
			<h2>{{post.title}}</h2>
			{% if featured_image %}
			<img src="{{featured_image}}" class="signup-form-logo">
			{% endif %}
		</div>
		{{post.post_content}}
	</div>
	
		
	<form action="https://twitter.us19.list-manage.com/subscribe/post-json?u=5eda3ff3b81179e054b712d63&amp;id=8cedbd109b&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="guny-contact" target="_blank" novalidate>

	  <div class="mc-field-group">
			<label for="mce-EMAIL">Email  <span class="asterisk">*</span></label>
	    <div class="guny-error-detailed"></div>
	    <input type="email" value="" name="EMAIL" class="email form-field signup-form__field-purple" id="mce-EMAIL" required>
		</div>
		
		<div class="mc-field-group">
			<label for="mce-FNAME">First Name  <span class="asterisk">*</span></label>
	    <div class="guny-error-detailed"></div>
			<input type="text" value="" name="FNAME" class="form-field signup-form__field-purple" id="mce-FNAME" required>
		</div>

		<div class="mc-field-group">
			<label for="mce-LNAME">Last Name  <span class="asterisk">*</span></label>
	    <div class="guny-error-detailed"></div>
			<input type="text" value="" name="LNAME" class="form-field signup-form__field-purple" id="mce-LNAME" required>
		</div>

		<div class="mc-field-group">
			<label for="mce-ZIP">Zip Code  <span class="asterisk">*</span></label>
	    <div class="guny-error-detailed"></div>
			<input type="text" value="" name="ZIP" class="form-field signup-form__field-purple" id="mce-ZIP" required>
		</div>

		<div class="mc-field-group">
			<label for="mce-PHONENUM">Phone Number </label>
	    <div class="guny-error-detailed"></div>
			<input type="text" name="PHONENUM" class=" form-field signup-form__field-purple" value="" id="mce-PHONENUM" required>
		</div>

		<fieldset class="mc-field-group input-group">
	    <legend>I'd like to <span class="asterisk">*</span>: </legend>
	    <div class="guny-error-detailed"></div>
	    <p class="signup-form__checkbox-list">
	    	<label class="checkbox" for="mce-group[479]-479-0">
		    	<input type="checkbox" value="1" class="checkbox__field" name="group[479][1]" id="mce-group[479]-479-0" required>
          <svg class="checkbox__indicator-purple"><use xlink:href="#icon-check"></use></svg>
          Volunteer
        </label>
      </p>

      <p class="signup-form__checkbox-list">
	    	<label class="checkbox" for="mce-group[479]-479-1">
		    	<input type="checkbox" value="2" class="checkbox__field" name="group[479][2]" id="mce-group[479]-479-1" required>
          <svg class="checkbox__indicator-purple"><use xlink:href="#icon-check"></use></svg>
          Receive updates
        </label>
      </p>

      <p class="signup-form__checkbox-list">
	    	<label class="checkbox" for="mce-group[479]-479-2">
		    	<input type="checkbox" value="4" class="checkbox__field" name="group[479][4]" id="mce-group[479]-479-2" required>
          <svg class="checkbox__indicator-purple"><use xlink:href="#icon-check"></use></svg>
          Invite a speaker
        </label>
      </p>

      <p class="signup-form__checkbox-list">
	    	<label class="checkbox" for="mce-group[479]-479-3">
		    	<input type="checkbox" value="8" class="checkbox__field" name="group[479][8]" id="mce-group[479]-479-3" required>
          <svg class="checkbox__indicator-purple"><use xlink:href="#icon-check"></use></svg>
          Propose a partnership
        </label>
      </p>

      <p class="signup-form__checkbox-list">
	    	<label class="checkbox" for="mce-group[479]-479-4">
		    	<input type="checkbox" value="8" class="checkbox__field" name="group[479][16]" id="mce-group[479]-479-4" required>
          <svg class="checkbox__indicator-purple"><use xlink:href="#icon-check"></use></svg>
          Make a general inquiry
        </label>
      </p>
		</fieldset>

		<div class="mc-field-group">
			<label for="mce-MESSAGE">Message (limit 255 characters)  <span class="asterisk">*</span></label>
	    <div class="guny-error-detailed"></div>
			<textarea type="text" value="" name="MESSAGE" class="form-field signup-form__field-purple textarea" id="mce-MESSAGE" required></textarea>
			<p class="char-count text-right"></p>
		</div>

		<div class="text-center">
	    <button id="mc-embedded-subscribe" class="signup-form__button button--primary__curved button--primary button--primary__purple" type="submit">Submit</button>
		</div>
	</form>
</div>
