  <p class="success">
    {{ __('One more step!<br/>Please check your inbox and confirm your email address to start receiving updates.<br/>Thanks for signing up!', 'GUNY-Email-Signup') }}
  </p>
  
  <p class="error">
    {{ __('Something went wrong. Try again later!', 'GUNY-Email-Signup') }}
  </p>

  <p class="already-subscribed">
  {{ __('You are already signed up for updates! Check your email.', 'GUNY-Email-Signup') }}
  </p>


