html,
body {
  height: 100%;
}

svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
}

*,
*:after,
*:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  position: relative;
}