<div class="mobile:pt-5 tablet:pt-12 pb-6">
    <a href="#main" class="back-to-top bg-color-blue-light hover:bg-color-blue no-underline" id="myBtn" data-js="back-to-top" title="{{ __('Back To Top', 'guny')}}">
      {{ __('Back To Top', 'guny')}}
    </a>
</div>