// Pagination
//
// Styleguide 7

// Arrow Pager
//
// Used to toggle dates on events page
//
// markup:
// <div class="arrow-pager">
//   <a class="arrow-pager__arrow arrow-pager__arrow--left" href="#" rel="prev">
//     <svg role="img" class="icon--xsmall"><title>Previous Month</title><use xlink:href="#caret-left"></use></svg>
//   </a>
//   July
//   <a class="arrow-pager__arrow arrow-pager__arrow--right" href="#" rel="next">
//     <svg role="img" class="icon--xsmall"><title>Next Month</title><use xlink:href="#caret-right"></use></svg>
//   </a>
// </div>
//
// sg-wrapper:
// <div style="min-height:152px">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 7.1

.arrow-pager {
  font-family: $font-family-display;
  font-weight: $font-weight-extrablack;
  @include font-size-x-large;
  margin: rem-calc(0 0 35);
  text-align: center;
  @include text-uppercase;
}

.arrow-pager__arrow {
  color: $very-dark-gray-transparent;
  text-decoration: none;
}