// Block List
//
// A list of block items, such as content touts
//
// .c-block-list--shade - Block List with a shaded background
//
// markup:
// <div class="c-block-list o-content-container {$modifiers}">
//   <sg-insert>3.2.1</sg-insert>
//   <p class="c-block-list__text">Nullam quis risus eget urna mollis ornare vel eu leo.</p>
//   <div class="c-block-list__inner">
//     <div class="c-block-list__item"><div style="background:white;height:100px"></div></div>
//     <div class="c-block-list__item"><div style="background:white;height:100px"></div></div>
//     <div class="c-block-list__item"><div style="background:white;height:100px"></div></div>
//   </div>
// </div>
//
// Styleguide 3.2
.c-block-list {
  position: relative;
}

.c-block-list--shade {
  background: $color-background-shade;
}

.c-block-list--blue {
  background: $bright-blue;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: 1;
  display: none;
}

// Block List Heading
//
// .c-block-list__heading - Standard block list heading
//
// markup:
// <h2 class="c-block-list__heading {$modifiers}">
//   Heading
//   <a href="#" class="c-block-list__link">link</a>
// </h2>
//
// Styleguide 3.2.1
.c-block-list__heading {
  color: $very-dark-gray-transparent;
  @include font-size-small;
  margin-bottom: rem-calc(-20);
  @include text-uppercase;
}

// Block List Text
//
// Content that appears before the block list
.c-block-list--shade .c-block-list__text {
  color: $dark-gray;
}

// Block List Link
.c-block-list__link {
  float: right;
  text-decoration: none;
  text-transform: none;

  &:focus {
    color: $color-text;
  }

  .no-touchevents & {
    &:hover {
      color: $color-text;
    }
  }
}

// Block List Inner
//
// Inner container within a block list
.c-block-list__inner {
  margin-bottom: rem-calc(35);
  margin-top: rem-calc(35);

  @include media($bp-medium) {
    margin-bottom: rem-calc(30);
    margin-top: rem-calc(30);
  }
}

// Block List Item
//
// Individual item within the list
.c-block-list__item {
  padding: rem-calc(8 0);
}
