// Content Blocks
//
// Styleguide 5

// Content Touts
//
// Displays post previews
//
// markup:
// <h2 class="c-content-tout__heading">
//   Heading
//   <a href="#" class="c-content-tout__link">More Link</a>
// </h2>
// <div class="c-content-tout">
//   <a class="c-content-tout__title">Post Title</a>
//   <p class="c-content-tout__subtitle">Post Subtitle</p>
// </div>
//
// sg-wrapper:
// <div style="min-height:152px">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 5.1

.c-content-tout__heading {
  @include font-size-x-large;
  @include text-uppercase;

  &--small {
    color: $very-dark-gray-transparent;
    @include font-size($font-size-x-small, $font-size-small);
  }
}

.c-content-tout__link {
  float: right;
  text-transform: none;

  &:hover,
  &:focus {
    color: $color-text;
  }
}

.c-content-tout {
  color: $very-dark-gray-semitransparent;
  @include font-size-small;
}

.c-content-tout__title {
  color: $color-text;
  font-family: $font-family-display;
  @include font-size-large;
  font-weight: $font-weight-extrablack;
  letter-spacing: rem-calc(.44);
  line-height: 1.2;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.c-content-tout__subtitle {
  margin: rem-calc(7 0 3);

  @include media($bp-small) {
    margin: rem-calc(10 0 1);
  }
}