// Footer
//
// Global site footer
//
// markup:
// <footer class="c-footer">
//   <div class="o-container">
//     <div class="c-footer__section">
//       <sg-insert>2.2.1</sg-insert>
//       <sg-insert>2.2.2</sg-insert>
//     </div>
//     <div class="c-footer__signup">
//       <sg-insert>4.2</sg-insert>
//     </div>
//   </div>
//   <sg-insert>2.2.4</sg-insert>
// </footer>
//
// Styleguide 2.2
.c-footer {
  position: relative;
  background: $color-background-footer;
  color: $color-text-invert;
  padding: 60px 0;
}

// Footer Section
.c-footer__section {
  @include media($bp-large) {
    @include span-columns(6);
  }
}

// Footer Logos
//
// markup:
// <div class="c-footer__logos">
//   <figure class="c-footer__logo">
//     <img alt="Growing Up NYC" src="/wp-content/themes/guny/assets/img/NYCDOH_GrowingUP_logo_Wht_Mobile_Final.png" height="80" width="118">
//   </figure>
//   <figure class="c-footer__logo">
//     <img alt="NYC Children's Cabinet" src="http://guny.wp.local/wp-content/themes/guny/assets/img/NYC-childrens-cabinet.svg" height="69" width="157">
//   </figure>
// </div>
//
// sg-wrapper:
// <div style="background:#333">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 2.2.1
.c-footer__logos {
  @include row;
}

// Individual Footer Logo
.c-footer__logo {
  @include span-columns(6);

  + .c-footer__logo {
    @include omega;
  }
  @include media($bp-medium) {
    @include span-columns(4 of 12);

    + .c-footer__logo {
      @include shift(2);
    }
  }
}

// Footer Logo Image
.c-footer__logo img {
  max-height: rem-calc(77);
  max-width: 100%;

  @include media($bp-medium) {
    max-height: none;
  }
}

// Footer Navigation
//
// markup:
// <nav class="c-footer__nav">
//   <ul class="c-footer__column">
//     <sg-insert>2.2.3</sg-insert>
//     <sg-insert>2.2.3</sg-insert>
//     <sg-insert>2.2.3-2</sg-insert>
//   </ul>
//   <ul class="c-footer__column">
//     <sg-insert>2.2.3</sg-insert>
//     <sg-insert>2.2.3</sg-insert>
//   </ul>
// </nav>
//
// sg-wrapper:
// <div style="background:#333">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 2.2.2
.c-footer__nav {
  @include row;
  line-height: 1.2;
  padding-top: 35px;

  @include media($bp-large) {
    padding-top: 40px;
  }
}

// Footer Navigation Column
.c-footer__column {
  @include span-columns(6 of 12);
  @include omega(even);
}

// Footer Navigation Item
//
// .c-footer__nav-item - Regular navigation item
// .c-footer__nav-item--spaced - Navigation item with additional top margin
//
// markup:
// <li class=".c-footer__nav-item {$modifiers}"><a class="c-footer__link" href="#">Item</a></li>
//
// sg-wrapper:
// <ul style="background:#333">
//   <sg-wrapper-content/>
// </ul>
//
// Styleguide 2.2.3
.c-footer__nav-item {
  list-style: none;
  margin-bottom: 8px;
}

.c-footer__nav-item--spaced {
  margin-top: 54px;
}

// Footer Link
.c-footer__link {
  color: $color-text-invert;
  font-family: $font-family-display;
  font-weight: $font-weight-extrablack;
  text-decoration: none;

  &:focus {
    color: $color-secondary;
  }

  .no-touchevents & {
    &:hover {
      color: $color-secondary;
    }
  }
}

// Footer Signup Area
.c-footer__signup {
  margin-top: 80px;

  @include media($bp-large) {
    margin-top: 0;
    @include span-columns(5);
    @include shift(1);
  }
}

// Footer of the footer component itself
//
// markup:
// <div class="o-container">
//   <div class="c-footer__footer>
//     <p>Copyright text or other footer content</p>
//   </div>
// </div>
//
// Styleguide 2.2.4
.c-footer__footer {
  font-family: $font-family-display;
  font-size: rem-calc(14);
  font-weight: $font-weight-extrablack;
  line-height: 1.2;
  margin-top: 65px;
}
