// Heroes
//
// Styleguide 6

// Hero
//
// Traditional, top-of-the-page hero
//
// .c-hero - Standard size
// .c-hero--large - Taller version
// .c-hero--long-text - Version that allows for longer titles and taglines
//
// markup:
// <header class="c-hero {$modifiers}" style="background:#333">
//   <div class="o-layout">
//     <h1 class="c-hero__title">Title</h1>
//     <p class="c-hero__tagline">Tagline text</p>
//   </div>
// </header>
//
// Styleguide 6.1
.c-hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  color: $color-text-invert;
  overflow: hidden;
  padding: percentage(94/375) 0 rem-calc(65);
  position: relative;
  text-align: center;

  @include media($bp-medium) {
    background-size: cover;
    text-align: left;
    padding: rem-calc(72 40 40);
  }

  @include media($bp-xlarge) {
    padding: rem-calc(113 80 60);
  }
}

.c-hero--large {
  padding: percentage(126/375) 0 rem-calc(65);

  @include media($bp-medium) {
    padding: rem-calc(165 40 40);
  }

  @include media($bp-xlarge) {
    padding: rem-calc(227 80 80);
  }
}

// Hero Background Variations
.c-hero--bg-primary {
  background: $color-primary;
}

.c-hero--bg-secondary {
  background: $color-secondary;
}

// Hero Title
.c-hero__title {
  @include font-size-xx-large;
  line-height: 1;
  padding-top: rem-calc(35);
  text-transform: uppercase;
  // Set z-index for text to appear on top of bg image
  position: relative;
  z-index: 1;
}

// Hero Tagline
.c-hero__tagline {
  font-family: $font-family-display;
  @include font-size-x-large;
  font-weight: $font-weight-extrablack;
  line-height: 1.2;
  margin-top: rem-calc(10);
  position: relative;
  z-index: 1; // Set z-index for text to appear on top of bg image

  @include media($bp-medium) {
    @include span-columns(6);
    @include omega;
  }
}

.c-hero--long-text .c-hero__tagline {
  @include font-size-large;
  line-height: 1.3;
  margin-top: 0;

  + .c-hero__tagline {
    margin-top: rem-calc(15);
  }

  @include media($bp-medium) {
    @include span-columns(9);
    @include omega;
  }
}

// Hero Frill
//
// Decorative element (i.e. a paint splatter) added to the hero
.c-hero__frill {
  height: auto;
  position: absolute;
  top: percentage(60/375);
  right: percentage(-50/375);
  width: percentage(140/375);

  @include media($bp-medium) {
    bottom: percentage(-87/480);
    top: auto;
    right: percentage(-114/1440);
    width: percentage(404/1440);
    .stop1 {
      stop-opacity: .3;
    }
  }

  @include media($bp-xlarge) {
    bottom: -87px;
    right: -114px;
    width: 404px;
  }
}

// Hero Full BG
//
// Full background overlay added to the hero
.c-hero__full-bg {
  height: 100%;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: auto;
}

// Hero Label
.c-hero__label {
  display: block;
  font-family: $font-family-display;
  font-weight: $font-weight-extrablack;
  @include font-size(21,24);
  margin-bottom: rem-calc(15);
  text-align: center;
}
