// Heroes
//

// Hero
//
// Traditional, top-of-the-page hero
//
// .c-hero - Standard size
// .c-hero--large - Taller version
// .c-hero--long-text - Version that allows for longer titles and taglines
// .c-hero--light - Version with dark text and no background image
//
// markup:
// <header class="c-hero {$modifiers}" style="background:#333">
//   <div class="o-layout">
//     <h1 class="c-hero__title">
//       <span class="c-hero__sticker><svg aria-hidden="true" class="icon--large"><use xlink:href="assets/img/svg-sprite.svg#baby"></use></svg></span>
//       Title
//     </h1>
//     <p class="c-hero__tagline">Tagline text</p>
//   </div>
// </header>
//
.c-hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  color: $color-text-invert;
  overflow: hidden;
  // padding: percentage(94/375) 0 rem-calc(33);
  padding-bottom: rem-calc(15);
  position: relative;
  text-align: center;

  @include media($bp-medium) {
    background-size: cover;
    text-align: left;
    padding: rem-calc(92 40 80);
  }

}

.c-hero-cover {
  background-image: linear-gradient(rgba(0, 85, 184, .2), rgba(0, 85, 184, .2));
  background-size: cover;
}

.c-hero--light {
  color: $color-text;
  text-align: left;
  padding: percentage(57/375) 0 rem-calc(65);

  @include media($bp-medium) {
    padding: rem-calc(100 ($outer-gutter-medium - $outer-gutter-small) 36);
  }

  @include media($bp-large) {
    padding: rem-calc(100 0 36);
  }
}

.c-hero {
  @include media($bp-xlarge) {
    padding: rem-calc(113 80 60);
  }
}

.c-hero--light {
  padding: rem-calc(113 0 60);
}

.c-hero--large {
  padding: percentage(126/375) 0 rem-calc(65);

  @include media($bp-medium) {
    padding: rem-calc(165 40 80);
  }

  @include media($bp-xlarge) {
    padding: rem-calc(227 80 80);
  }
}

.c-hero--medium {

  @include media($bp-medium) {
    padding: rem-calc(165 40 80);
  }

  @include media($bp-xlarge) {
    padding: rem-calc(227 80 80);
  }
}

.c-hero--long-text {
  text-align: left;
}

// Hero Background Variations
.c-hero--bg-primary {
  background: $color-primary;
}

.c-hero--bg-secondary {
  background-color: $color-secondary;
}

// Hero Title
//
// .c-hero__title--long - Variation for longer titles. Matches h1 styling
//
.c-hero__title {
  @include font-size-xxx-large;
  line-height: 1;
  padding-top: rem-calc(($sticker-size-mobile / 2) + 3);
  // Set z-index for text to appear on top of bg image
  z-index: 1;
}

.c-hero__title,
.c-hero__title--long {
  position: relative;
  padding-top: rem-calc(($sticker-size-mobile / 2) + 3);

  @include media($bp-medium) {
    padding-top: 0;
  }
}

.flexbox .c-hero__title,
.flexbox .c-hero__title--long {
  @include media($bp-medium) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

// Hero Sticker
.c-hero__sticker {
  background-color: $color-secondary;
  box-shadow: 0 2px 4px 0 $color-shadow;
  display: inline-block;
  left: 0;
  top: rem-calc($sticker-size-mobile / -2);
  position: absolute;

  @include media($bp-medium) {
    box-shadow: none;
    height: rem-calc(65);
    line-height: rem-calc(65);
    margin-right: rem-calc(20);
    position: static;
    width: rem-calc(65);
  }
}

.flexbox .c-hero__sticker {
  @include media($bp-medium) {
    flex-shrink: 0;
  }
}

// Hero Tagline
.c-hero__tagline {
  line-height: 1.2;
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(15);
  position: relative;
  z-index: 1; // Set z-index for text to appear on top of bg image

  @include media($bp-medium) {
    font-size: rem-calc($font-size-x-large);
  }

  @include media($bp-large) {
    @include span-columns(6);
    @include omega;
  }
}

.c-hero--long-text .c-hero__tagline {
  font-size: rem-calc($font-size-large * $font-size-ratio);
  line-height: 1.3;
  margin-top: 0;

  + .c-hero__tagline {
    margin-top: rem-calc(15);
  }

  @include media($bp-medium) {
    font-size: rem-calc($font-size-large);
  }

  @include media($bp-large) {
    @include span-columns(9);
    @include omega;
  }
}

.c-hero--medium .c-hero__tagline {
  padding-top: rem-calc(165);

  h2 {
    line-height: 1;
    margin: rem-calc(0 0 6);
  }

  @include media($bp-medium) {
    padding-top: 0;
    line-height: 1.2;
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(15);
    position: relative;
    z-index: 1;

    h2 {
      margin: rem-calc(0 0 20);
      line-height: 1.3;
    }
  }
}

// Hero Frill
//
// Decorative element (i.e. a paint splatter) added to the hero
.c-hero__frill {
  height: auto;
  position: absolute;
  top: percentage(60/375);
  right: percentage(-50/375);
  width: percentage(140/375);

  @include media($bp-medium) {
    bottom: percentage(-87/480);
    top: auto;
    right: percentage(-114/1440);
    width: percentage(404/1440);
  }

  @include media($bp-xlarge) {
    bottom: -87px;
    right: -114px;
    width: 404px;
  }
}

// Hero Full BG
//
// Full background overlay added to the hero
.c-hero__full-bg {
  height: 100%;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: auto;
}

// Hero Label
.c-hero__label {
  display: block;
  font-family: $font-family-display;
  font-weight: $font-weight-extrablack;
  @include font-size(21,24);
  margin-bottom: rem-calc(15);
  text-align: center;
}

// Hero Search
.c-hero__search {
  padding-top: rem-calc(($sticker-size-mobile / 2) + 3);

  @include media($bp-medium) {
    padding-top: 0;
  }
}