// Lists
//
// Styleguide 3

// List Box
//
// List styled as colorful boxes. Often used with the accordion pattern.
//
// .c-list-box--primary - Brightly-colored list box
// .c-list-box--secondary - More subdued box styling. Uses global palette colors and smaller boxes.
// .c-list-box--tertiary - Smaller list box styling used for longer content items
// .c-list-box--quaternary - List box style with a top level that closely resembles --primary and a secondary level that closely resembles --secondary
//
// markup:
// <ul class="c-list-box {$modifiers}">
//   <li class="c-list-box__item">
//     <h3 class="c-list-box__heading">Item</h3>
//     <ul class="c-list-box__content">
//       <li class="c-list-box__subitem">Subitem</li>
//       <li class="c-list-box__subitem">Subitem</li>
//       <li class="c-list-box__subitem">Subitem</li>
//     </ul>
//   </li>
//   <li class="c-list-box__item">
//     <h3 class="c-list-box__heading">Item</h3>
//     <ul class="c-list-box__content">
//       <li class="c-list-box__subitem">Subitem</li>
//       <li class="c-list-box__subitem">Subitem</li>
//       <li class="c-list-box__subitem">Subitem</li>
//     </ul>
//   </li>
// </ul>
//
// Styleguide 3.1
.c-list-box {
  display: block;
  padding: rem-calc(6 4 2);
}

.c-list-box--tertiary {
  padding: 0;
}

// List Box Item
//
// Section within the list box. Encompasses the list heading and any sublists.
.c-list-box__item {
  display: block;
  color: $color-text-invert;
  list-style: none;
  margin-bottom: rem-calc(4);
  position: relative;
}

.c-list-box--secondary .c-list-box__item {
  margin-bottom: rem-calc(2);
}

// List Box Heading
//
// Top level list item or section heading.
// If used with the accordion pattern, this will be whatever the accordion drawer
// heading is.
//
.c-list-box__heading {
  border-radius: rem-calc(3);
  display: block;
  font-family: $font-family-display;
  @include font-size-x-large;
  font-weight: $font-weight-extrablack;
  margin-bottom: 0;
  text-align: left;
  width: 100%;
}

.c-list-box--primary .c-list-box__heading,
.c-list-box--quaternary .c-list-box__heading {
  background: $color-primary;
  color: $color-text-invert;
}

.c-list-box--primary .c-list-box__heading {
  @include text-uppercase;
  padding: rem-calc(12 20);

  @include media($bp-large) {
    padding: rem-calc(28 40);
  }
  @include media($bp-x-small) {
    padding: rem-calc(12 40 12 12);
  }

}

.c-list-box--secondary .c-list-box__heading,
.c-list-box--quaternary .c-list-box__heading {
  padding: rem-calc(13 28);
}

.c-list-box--secondary .c-list-box__heading {
  background: $color-background-shade;
  border-radius: rem-calc(3);
  color: $color-primary;

  .icon {
    color: $color-text-weak;
  }

  // :focus styling is necessary for keyboard users so that it's clear what item is currently selected
  &:focus {
    color: $color-secondary;
    outline: none;

    .icon {
      color: $color-text;
    }
  }

  .no-touchevents & {
    &:hover {
      color: $color-secondary;

      .icon {
        color: $color-text;
      }
    }
  }
}

.c-list-box--tertiary .c-list-box__heading {
  background: $color-primary;
  color: $color-text-invert;
  @include font-size-large;
  line-height: 1.1;
  min-height: rem-calc(56);
  padding: rem-calc(10 30);
}

.c-list-box--quaternary .c-list-box__heading {
  @include media($bp-large) {
    padding: rem-calc(28);
  }
}

// List Box Subheading
//
// Optional subtitle on a list box heading
.c-list-box__subheading {
  display: block;
  @include font-size-large;
  font-weight: $font-weight-medium;
}

.c-list-box--primary .c-list-box__subheading {
  text-transform: none;
}

// List Box Content
//
// The sublist of items within a box
.c-list-box--primary .c-list-box__content {
  background: $color-primary;
  color: $color-text-invert;
}

.c-list-box--secondary .c-list-box__content {
  background: $color-primary;
}

.c-list-box--secondary .c-list-box__content,
.c-list-box--quaternary .c-list-box__content {
  font-family: $font-family-display;
  font-weight: $font-weight-extrablack;
}

.c-list-box--quaternary .c-list-box__content {
  background: $color-secondary;
  border-radius: 0 0 3px 3px;
  color: $color-text-invert;
  margin-top: -1px;
}

// List Box Subitem
//
// Item within a sublist. If the sublist is a list of links, this class may be applied
// to the a element rather than the li element.
.c-list-box__subitem {
  display: block;
  width: 50%;
  float: left;
  text-decoration: none;
  padding: rem-calc(10 16) !important;
  @include media($bp-large) {
    width: 100%;
    padding: rem-calc(16 28);
  }
}

.c-list-box--primary .c-list-box__subitem {
  padding: rem-calc(3 20);

  &:first-child {
    padding-top: rem-calc(30);
  }

  &:last-child {
    padding-bottom: rem-calc(30);
  }

  @include media($bp-large) {
    padding: rem-calc(3 40);

    &:last-child {
      padding-bottom: rem-calc(40);
    }

  }
}

.c-list-box--secondary .c-list-box__subitem {
  @include text-uppercase;

  &:focus {
    background: $color-secondary;
  }

  .no-touchevents & {
    &:hover {
      background: $color-secondary;
      color: inherit;
    }
  }
}

.c-list-box--secondary .c-list-box__subitem,
.c-list-box--quaternary .c-list-box__subitem {
  color: $color-text-invert;
  @include font-size-small;
  // padding: rem-calc(16 28);
}

.c-list-box--tertiary .c-list-box__subitem {
  background: $color-background-shade;
  color: $color-text;
  line-height: 1.2;
  padding: rem-calc(15 30 15 42);
  text-indent: rem-calc(-27);
  margin-bottom: rem-calc(2);

  .icon {
    color: rgba($color-text, .2);
    margin-right: rem-calc(12);
    margin-top: rem-calc(2);
  }

  @include media($bp-large) {
    padding-left: rem-calc(60);
  }
}

.c-list-box--quaternary .c-list-box__subitem {
  &:focus {
    background: $very-dark-blue;
  }

  .no-touchevents & {
    &:hover {
      background: $very-dark-blue;
      color: inherit;
    }
  }
}

// List Box Border
.c-list-box__border {
  border-radius: 3px;
  padding: rem-calc(5 0);
}

//Hide list item call Espanol
.o-article-sidebar {
  .c-list-box__content {
    li.espanol {
      display: none;
    }
  }
}
