// Lists
//
// Styleguide 3

// List Box
//
// List styled as colorful boxes. Often used with the accordion pattern.
//
// .c-list-box--primary - Brightly-colored list box
// .c-list-box--secondary - More subdued box styling. Uses global palette colors and smaller boxes.
// .c-list-box--tertiary - Smaller list box styling used for longer content items
//
// markup:
// <ul class="c-list-box {$modifiers}">
//   <li class="c-list-box__item">
//     <h3 class="c-list-box__heading">Item</h3>
//     <ul class="c-list-box__content">
//       <li class="c-list-box__subitem">Subitem</li>
//       <li class="c-list-box__subitem">Subitem</li>
//       <li class="c-list-box__subitem">Subitem</li>
//     </ul>
//   </li>
//   <li class="c-list-box__item">
//     <h3 class="c-list-box__heading">Item</h3>
//     <ul class="c-list-box__content">
//       <li class="c-list-box__subitem">Subitem</li>
//       <li class="c-list-box__subitem">Subitem</li>
//       <li class="c-list-box__subitem">Subitem</li>
//     </ul>
//   </li>
// </ul>
//
// Styleguide 3.1
.c-list-box {
  display: block;
  padding: rem-calc(6 4 2);
}

// List Box Item
//
// Section within the list box. Encompasses the list heading and any sublists.
.c-list-box__item {
  display: block;
  list-style: none;
  margin-bottom: rem-calc(4);
}

.c-list-box--secondary .c-list-box__item {
  margin-bottom: rem-calc(2);
}

// List Box Heading
//
// Top level list item or section heading.
// If used with the accordion pattern, this will be whatever the accordion drawer
// heading is.
//
.c-list-box__heading {
  border-radius: rem-calc(3);
  display: block;
  font-family: $font-family-display;
  @include font-size(21, 24);
  font-weight: $font-weight-extrablack;
  margin-bottom: 0;
  text-align: left;
  width: 100%;
}

.c-list-box--primary .c-list-box__heading {
  background: $color-primary;
  color: $color-text-invert;
  padding: rem-calc(12 20);
  @include text-uppercase;

  @include media($bp-large) {
    padding: rem-calc(28 40);
  }
}

.c-list-box--secondary .c-list-box__heading {
  background: $color-background-shade;
  border-radius: rem-calc(3);
  color: $color-primary;
  padding: rem-calc(13 28);

  .icon {
    color: $color-text-weak;
  }

  // :focus styling is necessary for keyboard users so that it's clear what item is currently selected
  &:hover,
  &:focus {
    color: $color-secondary;
    outline: none;

    .icon {
      color: $color-text;
    }
  }
}

.c-list-box--tertiary .c-list-box__heading {
  background: $color-primary;
  color: $color-text-invert;
  @include font-size-large;
  padding: rem-calc(15 30);
}

// List Box Subheading
//
// Optional subtitle on a list box heading
.c-list-box__subheading {
  display: block;
  font-weight: $font-weight-medium;

  @include media($bp-large) {
    font-size: .875em;
  }
}

.c-list-box--primary .c-list-box__subheading {
  text-transform: none;
}

// List Box Content
//
// The sublist of items within a box
.c-list-box--primary .c-list-box__content {
  background: $color-primary;
  color: $color-text-invert;
}

.c-list-box--secondary .c-list-box__content {
  background: $color-primary;
  font-family: $font-family-display;
  font-weight: $font-weight-extrablack;
}

// List Box Subitem
//
// Item within a sublist. If the sublist is a list of links, this class may be applied
// to the a element rather than the li element.
.c-list-box__subitem {
  display: block;
  text-decoration: none;
}

.c-list-box--primary .c-list-box__subitem {
  padding: rem-calc(3 20);

  &:last-child {
    padding-bottom: rem-calc(30);
  }

  @include media($bp-large) {
    padding: rem-calc(3 40);

    &:last-child {
      padding-bottom: rem-calc(40);
    }

  }
}

.c-list-box--secondary .c-list-box__subitem {
  color: $color-text-invert;
  font-size: rem-calc(16);
  padding: rem-calc(16 28);
  @include text-uppercase;

  &:hover,
  &:focus {
    background: $color-secondary;
  }
}

.c-list-box--tertiary .c-list-box__subitem {
  background: $color-background-shade;
  padding: rem-calc(18 30);
  margin-bottom: rem-calc(2);

  .icon {
    color: rgba($color-text, .2);
    margin-right: rem-calc(12);
  }
}
