.js-show-nav {
  @include media($bp-small) {
    display: none !important;
  }
}

.site-desktop-nav {
  @include media($bp-mobile-x-small) {
    display: none;
  }
}

.nav-active .site-mobile-nav {
  @include transform(translateX(-100%));
}

.site-mobile-nav {
  @include transform(translateX(0));
  @include transition(transform .2s ease-in);
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  padding: 20px 0 20px 20px;
  background: $color-primary;
  color: $white;
  display: block;
  width: 300px;
  z-index: 10;

  a {
    &.site-nav-close {
      color: $white;
      text-decoration: none;
      text-align: right;
      font-size: $font-size-large;
      font-style: italic;
      display: block;
      margin-right: 20px;
      .icon--medium {
        vertical-align: middle;
      }
    }
  }

  .nav-list {
    li {
      border-bottom: 1px solid $white;
      padding: 20px 0;
      margin-left: 0 !important;
      a {
        font-size: $font-size-large;
        text-decoration: none;
      }
    }
  }
}

.site-mobile-nav-inner {
  padding: 20px 20px 20px 0;
}