// Navigation List
//
// List of navigation items. Very similar to List Box, but just different enough
// to spin off into its own component.
//
// markup:
// <ol class="c-nav-list {$modifiers}">
//   <li class="c-nav-list__item"><a href="#" class="c-nav-list__link">Item</a></li>
//   <li class="c-nav-list__item"><a href="#" class="c-nav-list__link">Item</a></li>
// </ol>
// Styleguide 3.4

// Local Variables
$indicator-size: 10px;

.c-nav-list {
  display: block;
}

// Navigation List Item
.c-nav-list__item {
  display: block;
  list-style: none;
  margin-bottom: rem-calc(4);
  padding: 0;
}

// Navigation List Link
.c-nav-list__link {
  background-color: $color-primary;
  border-radius: 3px;
  color: $color-text-invert;
  display: block;
  font-family: $font-family-display;
  @include font-size(21, 24);
  font-weight: $font-weight-extrablack;
  padding: rem-calc(20);
  position: relative;
  text-decoration: none;
  @include text-uppercase;

  @include media($bp-large) {
    padding: rem-calc(28);
  }

  &:hover,
  &:focus {
    color: $color-text-invert;

    &:after {
      content: '';
      display: block;
      border: $indicator-size solid transparent;
      border-left-color: inherit;
      margin-top: -#{$indicator-size};
      position: absolute;
      right: -#{$indicator-size * 2};
      top: 50%;
    }
  }
}
