// Tips
//
// markup:
// <aside class="c-tip o-content-container">
//   <div class="c-tip__sticker sticker" aria-hidden="true"><svg class="icon--large"><use xlink:href="assets/img/svg-sprite.svg#lightbulb"></use></svg></div>
//   <div class="c-tip__inner">
//     <p class="c-tip__content">Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
//     <footer class="c-tip__footer">
//       <p>Nullam quis risus eget urna mollis</p>
//       <p><a href="#" class="c-tip__link">Link text</a></p>
//     </footer>
//   </div>
// </aside>
//
// Styleguide 8
.c-tip {
  @include row;
  background: $color-primary;
  color: $color-text-invert;
  padding-top: rem-calc($sticker-size-mobile / 2);
  position: relative;
  margin-top: rem-calc(($sticker-size-mobile / 2) + $horizontal-gutter);

  @include media($bp-large) {
    padding-top: rem-calc($sticker-size / 2);
    margin-top: rem-calc(($sticker-size / 2) + $horizontal-gutter);
  }
}

// Tip Sticker
.c-tip__sticker {
  margin-left: rem-calc($sticker-size-mobile / -2);
  position: absolute;
  left: 50%;
  top: rem-calc($sticker-size-mobile / -2);

  @include media($bp-large) {
    margin-left: rem-calc($sticker-size / -2);
    top: rem-calc($sticker-size / -2);
  }
}

// Tip Inner Wrapper
// Optiona. Used if you want to restrict the width of tip content
.c-tip__inner {
  @include media($bp-medium) {
    @include span-columns(4 of 8);
    @include shift(2 of 8);
  }
}

// Tip Content
.c-tip__content {
  font-family: $font-family-display;
  @include font-size-x-large;
  font-weight: 900;
  line-height: 1.2;
}

// Tip Footer
.c-tip__footer {
  @include font-size-small;
  margin-top: 1em;

  p + p {
    margin-top: 0;
  }
}

// Tip Link
.c-tip__link {
  &:focus {
    color: darken($color-text-invert, 15%);
  }

  .no-touchevents & {
    &:hover {
      color: darken($color-text-invert, 15%);
    }
  }
}
