// Rows and Columns
//
// Not to be confused with the general grid layout patterns, which use Neat
// and can be placed in _layout.scss. This covers layout objects where items are
// top-aligned in a block grid, i.e. on the search overlay

// Common column layout
%column-base {
  display: inline-block;
  padding: rem-calc(8 20);
  vertical-align: top;
  width: 100%;
}

%column-base-2 {
  @extend %column-base;

  @include media($bp-small) {
    margin-right: rem-calc(-4);
    padding: rem-calc(20);
    width: 50%;
  }
}

%column-base-3 {
  @extend %column-base-2;

  @include media($bp-medium) {
    width: (100% / 3);
  }
}

// Divider
.o-col__divider + .o-col__divider {
  border-top: 2px solid $white;
  padding-top: rem-calc(30);
}

// Column Row
.o-row {
  margin-left: rem-calc(-20);
  margin-right: rem-calc(-20);
}

// 1 Column
.o-col-1 {
  @extend %column-base;
}

// 2 Columns
.o-col-2 {
  @extend %column-base-2;
}

// 3 Columns
.o-col-3 {
  @extend %column-base-3;
}
