// Content Container
//
.o-content-container {
  padding: rem-calc(30 $outer-gutter 35);

  @include media($bp-small) {
    padding: rem-calc(35 $outer-gutter-small 40);
  }

  @include media($bp-medium) {
    padding-left: rem-calc($outer-gutter-medium);
    padding-right: rem-calc($outer-gutter-medium);
  }

  @include media($bp-large) {
    padding: rem-calc($outer-gutter-large);
  }
}

// Content container with reduced padding
.o-content-container--compact {
  padding-left: rem-calc($outer-gutter-small);
  padding-right: rem-calc($outer-gutter-small);

  @include media($bp-medium) {
    padding-left: rem-calc($outer-gutter-medium);
    padding-right: rem-calc($outer-gutter-medium);
  }

  @include media($bp-large) {
    padding-left: 0;
    padding-right: 0;
  }
}

.o-content-container--text {
  // Reduces width at the largest breakpoint to control line length
  @include media($bp-large) {
    width: flex-grid(7, 8) + flex-gutter(8);
  }
}

.o-content-container__bg-blue {
  background-color: #2793e0;
  opacity: .5;
  width: 100%;
  height: 100%;
}