// Static column remains fixed while other column scrolls
// Closesly related to the staticColumn JS modules
//

//Static Column
.o-static-column {
  margin-top: rem-calc(-200);
  padding-top: rem-calc(200);

  @include media($bp-large) {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    height: 100vh;
    margin: 0;
    max-height: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 60%;
  }
}

@include media($bp-large) {
  .o-static-column {
    position: fixed;

    // Uses "not sticky" class to prevent jumping when going from absolute bottom to fixed top
    &.is-not-sticky {
      position: fixed;
    }

    &.is-bottom {
      position: absolute;
      bottom: 0;
      top: auto;
    }
  }

  .o-static-column--left {
    border-left: 4px solid $color-background;
    left: 0;

    @if ($language == 'ar') or ($language == 'ur') {
      right: 0;
    }
  }

  .o-static-column--right {
    border-right: 4px solid $color-background;
    right: 0;

    @if ($language == 'ar') or ($language == 'ur') {
      left: 0;
    }
  }

  // Scroll Column
  .o-scroll-column {
    width: 40%;
  }

  .o-scroll-column--right {
    margin-left: 60%;

    @if ($language == 'ar') or ($language == 'ur') {
      margin-right: 60%;
    }
  }
}
