// Sticky Footer pattern
//
// Sticks the footer to bottom of the screen.
// Fallback for non-flexbox browsers is to fill
// empty space at bottom with footer color.

.flexbox .o-sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flexbox .o-sticky-footer__content {
  flex: 1;
}

.no-flexbox .o-sticky-footer {
  background: $color-background-footer;
}

.no-flexbox .o-sticky-footer__content {
  background: $color-background;
}