// Accordion
//
// Layout object for accordion content.

// Accordion panel
.o-accordion__content {
  display: block;
  overflow: hidden;
  transition: height .5s ease-in-out;
}

.is-collapsed .o-accordion__content {
  height: 0;
  transition: height .3s ease-in-out;
}