// Off-Canvas
//
// Layout object to reveal offcanvas content.
// Content should only be hidden initially if JS is enabled.

// Off-Canvas Wrapper
.o-offcanvas {
  background: $color-offcanvas-bg;
  height: 100%;
  overflow: hidden;
  position: relative;
}

// Off-Canvas Side
//
// The content that is initially offcanvas and then revealed
.o-offcanvas__side {
  background: $color-body-bg;
  width: $offcanvas_side_width;
}

.no-js .o-offcanvas__side {
  @include breakpoint(600px) {
    float: right;
    height: 100%;
  }
}

.js .o-offcanvas__side {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .5s;
  visibility: hidden;
  z-index: 1;

  &:after {
    background: rgba(0, 0, 0, .2);
    content: '';
    height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .5s;
    width: 100%;
  }
}

.js .is-open .o-offcanvas__side {
  transition: transform .5s;
  visibility: visible;
  z-index: 100;
}

.js.csstransitions .is-open .o-offcanvas__side {
  z-index: 1;

  &:after {
    height: 0;
    opacity: 0;
    transition: opacity .5s, width .1s .5s, height .1s .5s;
    width: 0;
  }
}

// Off-Canvas Main
//
// The content that slides over to make room for the offcanvas content
.o-offcanvas__main {
  background: $color-body-bg;
}

.js .o-offcanvas__main {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  perspective: 1000px;
  position: relative;
  transition: transform .5s;
  z-index: 99;
}

.js.csstransitions .is-open .o-offcanvas__main {
  transform: translateX(-#{$offcanvas_side_width});
}

.js.csstransforms3d .is-open .o-offcanvas__main {
  transform: translate3d(-#{$offcanvas_side_width}, 0, 0);
}

// Off-Canvas Overlay
//
// Overlay on main content when offcanvas content is visible
.o-offcanvas__overlay {
  background: rgba(0, 0, 0, .2);
  display: block;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity .5s, width .1s .5s, height .1s .5s;
  width: 0;
}

.is-open .o-offcanvas__overlay {
  height: 100%;
  opacity: 1;
  transition: opacity .5s;
  width: 100%;
  z-index: 100;
}