// Alert Banner
//
// markup:
// <div class="c-alert">
//   <div class="c-alert__banner">
//     <div class="o-container">
//       <p>Lorem ipsum set dolor amet</p>
//     </div>
//   </div>
// </div>
//
// sg-wrapper:
// <div style="transform:translateZ(0);min-height:200px">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 9
.c-alert {
  background: $white;
  bottom: 0;
  left: 0;
  padding: 10px 4px 0;
  position: fixed;
  text-align: center;
  width: 100%;

  p + p {
    margin-top: 0;
  }
}

// Inner banner content
.c-alert__banner {
  background: $very-dark-gray;
  border-radius: 3px 3px 0 0;
  color: $color-text-invert;
  font-family: $font-family-display;
  @include font-size-large;
  font-weight: $font-weight-extrablack;
  padding: 25px 0;
}
