// Buttons
//
// Styleguide 1

// Common styles across buttons
%button-base {
  border: 2px solid $color-text-invert;
  border-radius: rem-calc(25);
  display: inline-block;
  font-family: $font-family-display;
  font-size: rem-calc(18);
  font-weight: $font-weight-extrablack;
  line-height: 1;
  padding: rem-calc(14 30);
  text-align: center;
  text-decoration: none;
  transition: $button-transition;
}

// Primary button
//
// Primary button. Solid color initially and turns ghosty on hover
//
// .button--full-width - Button spans width of parent
//
// markup:
// <a class="button--primary {$modifiers}">Button</a>
// <button class="button--primary {$modifiers}">Button</button>
//
// sg-wrapper:
// <div style="background:#333; padding:20px">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 1.1
.button--primary {
  @extend %button-base;
  background: $color-text-invert;
  color: $color-text;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background: transparent;
    color: $color-text-invert;
  }
}

// Outlined Button
//
// Secondary button. Ghosty initially and turns solid on hover
//
// .button--outline--gray - Grey outline
// .button--outline--white - White outline
//
// markup:
// <a class="button--outline {$modifiers}">Button</a>
// <button class="button--outline {$modifiers}">Button</button>
//
// sg-wrapper:
// <div style="background:#e1e1e1; padding:20px">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 1.2
.button--outline {
  @extend %button-base;
  background: transparent;
  letter-spacing: 1px;

  &--gray {
    border-color: $color-text;
    color: $color-text;
    opacity: .7;

    &:hover,
    &:focus {
      color: $color-text;
      opacity: 1;
    }
  }

  &--white {
    border-color: $color-text-invert;
    color: $color-text-invert;

    &:hover,
    &:focus {
      background: $color-text-invert;
      color: $color-primary;
    }
  }

}

// Pill button
//
// Pill button. Used primarily for tags
//
// markup:
// <button class="button--pill">Button Text</button>
//
// Styleguide 1.3
.button--pill {
  @extend %button-base;
  background: $color-primary;
  border: 0;
  border-radius: rem-calc(15);
  color: $color-text-invert;
  font-size: rem-calc($font-size-x-small-mobile);
  margin: rem-calc(0 2 4 0);
  padding: rem-calc(10 17);
  @include text-uppercase;

  &:hover,
  &:focus {
    background: $color-secondary;
    color: $color-text-invert;
  }
}

.button--pill--alt {
  background: $color-secondary;

  &:hover,
  &:focus {
    background: $very-dark-blue;
  }
}

// Size Variations

// Full-width
.button--full-width {
  width: 100%;
}

// Text-only button
//
// Button styled to look like a text link.
// Can also be used with an SVG icon for an icon-only button
//
// markup:
// <button class="button--text">Button Text</button>
//
// Styleguide 1.4
.button--text {
  color: $color-primary;
  min-height: 0;

  &:hover,
  &:focus {
    color: $color-secondary;
    outline: none;
  }
}
