// Content Blocks
//
// Styleguide 5

// Content Touts
//
// Displays post previews
//
// markup:
// <div class="c-content-tout">
//   <a class="c-content-tout__title">Post Title</a>
//   <p class="c-content-tout__subtitle">Subtitle</p>
//   <a class="c-content-tout__link">Link</a>
// </div>
//
// sg-wrapper:
// <div style="min-height:152px">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 5.1

.c-content-tout {
  color: $color-text-weak;
  @include font-size-small;
}

.c-content-tout__title {
  color: $color-text;
  font-family: $font-family-display;
  @include font-size-large;
  font-weight: $font-weight-extrablack;
  letter-spacing: rem-calc(.44);
  line-height: 1.2;
  margin: 0;
  text-decoration: none;

  a {
    text-decoration: inherit;
  }
}

.c-content-tout__subtitle {
  font-family: $font-family-display;
  font-weight: $font-weight-extrablack;
  margin: rem-calc(7 0 3);
  text-transform: uppercase;

  @include media($bp-small) {
    margin: rem-calc(10 0 1);
  }

  .icon--xsmall {
    position: relative;
    top: 2px;
    vertical-align: top;

    @include media($bp-small) {
      top: 3px;
    }
  }
}

.c-content-tout__link {
  @include font-size($font-size-x-small-mobile, 14);
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $color-text;
  }
}
