// Forms
//
// Styleguide 4

// Text Input Field
//
// Text input field. Border turns blue on focus.
//
// .form-field--large - Large input field
// .form-field--full-width - Input field spans width of parent
//
// markup:
// <input type="text" class="form-field {$modifiers}"
//
// sg-wrapper:
// <div style="background:#333; padding:20px">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 4.1

.form-field,
.facetwp-search {
  appearance: none;
  background: $white;
  border: 1px solid transparent;
  border-radius: rem-calc(3);
  color: $color-text;
  font-size: rem-calc($font-size-regular);
  font-weight: $font-weight-semibold;
  padding: rem-calc(10 50 10 15);
}

// Size Variations

// Large
.form-field--large {
  font-size: rem-calc($font-size-x-large-mobile);
  line-height: 1;
  padding: rem-calc(10 40 10 20);

  @include media($bp-medium) {
    font-size: rem-calc($font-size-x-large);
    padding: rem-calc(20 60 20 25);
  }
}

.form-field--full-width {
  width: 100%;
}

// Icons

// Layout
.form-field__icon-container {
  position: relative;
}

.form-field__icon {
  display: inline-block;
  color: $color-primary;
  cursor: pointer;
  height: rem-calc(20);
  margin-top: rem-calc(-10);
  position: absolute;
  right: rem-calc(20);
  top: 50%;
  width: rem-calc(20);

  @include media($bp-medium) {
    right: rem-calc(25);
  }

  &:hover,
  &:focus {
    color: $color-secondary;
  }
}

// Icon Size Variations

// Large
.form-field__icon--large {
  height: rem-calc(20);
  margin-top: rem-calc(-10);
  width: rem-calc(20);

  @include media($bp-medium) {
    height: rem-calc(30);
    margin-top: rem-calc(-15);
    width: rem-calc(30);
  }
}
