// Heroes
//
// Styleguide 6

// Hero
//
// Traditional, top-of-the-page hero
//
// markup:
// <header class="c-hero">
//   <div class="o-layout">
//     <h1 class="c-hero__title">Title</h1>
//     <p class="c-hero__tagline">Tagline text</p>
//   </div>
// </header>
.c-hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-text-invert;
  overflow: hidden;
  padding: rem-calc(230 80 80);
  position: relative;
}

// Hero Title
.c-hero__title {
  @include font-size-xx-large;
  text-transform: uppercase;
}

// Hero Tagline
.c-hero__tagline {
  font-family: $font-family-display;
  @include font-size-x-large;
  font-weight: $font-weight-extrablack;
  line-height: 1.2;
  @include span-columns(6);
  @include omega;
}

// Hero Frill
//
// Decorative element (i.e. a paint splatter) added to the hero
.c-hero__frill {
  bottom: -87px;
  height: 359px;
  position: absolute;
  right: -115px;
  width: 404px;
}
