// Icons
//
// markup:
// <svg role="img" {$modifiers}>
//   <title>Descriptive title</title>
//   <use xlink:href="#iconId"></use>
// </svg>
//
// Not in styleguide because display is dependent on embedded SVG sprite

.icon--large {
  height: rem-calc(37);
  width: rem-calc(37);

  @include media($bp-large) {
    height: rem-calc(47);
    width: rem-calc(47);
  }
}

.icon--small {
  height: rem-calc(22);
  width: rem-calc(22);
}

.icon--xsmall {
  height: 1em;
  width: 1em;
}

.icon--xxsmall {
  height: rem-calc(13);
  width: rem-calc(13);

  @include media($bp-small) {
    height: rem-calc(15);
    width: rem-calc(15);
  }
}

.icon--nyc {
  height: rem-calc(15);
  margin: rem-calc(0 3);
  position: relative;
  top: rem-calc(-3);
  width: rem-calc(45);
}
