// Stickers
//
// markup:
// <div class="sticker" aria-hidden="true">Text</div>
// <div class="sticker" aria-hidden="true"><svg class="icon--large"><use xlink:href="assets/img/svg-sprite.svg#book"></use></svg></div>
//
// Styleguide 1.2

.sticker {
  background: $color-primary;
  border-radius: rem-calc($sticker-size-mobile);
  color: $white;
  display: block;
  font-family: $font-family-display;
  @include font-size(13, 11.375);
  height: rem-calc($sticker-size-mobile);
  text-align: center;
  text-decoration: none;
  @include text-uppercase;
  white-space: nowrap;
  width: rem-calc($sticker-size-mobile);
  //override text-uppercase
  line-height: rem-calc($sticker-size-mobile);

  @include media($bp-large) {
    border-radius: rem-calc($sticker-size);
    height: rem-calc($sticker-size);
    line-height: rem-calc($sticker-size);
    width: rem-calc($sticker-size);
  }
}

a.sticker {
  &:hover,
  &:focus {
    background: $color-secondary;
    color: $white;
  }
}

.flexbox .sticker {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
}
