html {
  font-size: 100%;
}

body,
.styleguide {
  color: $color-text;
  font-family: $font-family-text;
  @include font-size-regular;
}

.wf-active body,
.styleguide {
  font-weight: $font-weight-semibold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-display;
  font-weight: $font-weight-extrablack;
  line-height: 1.3;
}

h1 {
  @include font-size-xx-large;
}

h2 {
  @include font-size-x-large;
  margin: rem-calc(0 0 20);
  @include text-uppercase;
}

h3 {
  @include font-size-large;
  margin: rem-calc(0 0 15);
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $color-text-link;
  }
}

a[href^="tel:"] {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

p + p {
  margin-top: 1em;
}

// Styling for no results text
.type--no-results {
  font-family: $font-family-display;
  @include font-size-x-large;
  font-weight: $font-weight-extrablack;
  line-height: 1.3;
  text-align: center;
}
