[hidden][aria-hidden="false"].pseudo-class-focus {
  clip: auto;
}

main.pseudo-class-focus,
section.pseudo-class-focus {
  outline: none;
}

.button--primary.pseudo-class-hover,
.button--primary.pseudo-class-focus {
  background: transparent;
  color: #fff;
}

.button--outline--gray.pseudo-class-hover,
.button--outline--gray.pseudo-class-focus {
  color: #333;
  opacity: 1;
}

.button--outline--white.pseudo-class-hover,
.button--outline--white.pseudo-class-focus {
  background: #fff;
  color: #2793e0;
}

.button--pill.pseudo-class-hover,
.button--pill.pseudo-class-focus {
  background: #0055b8;
  color: #fff;
}

.button--pill--alt.pseudo-class-hover,
.button--pill--alt.pseudo-class-focus {
  background: #00326d;
}

.button--simple.pseudo-class-hover,
.button--simple.pseudo-class-focus {
  background: #0055b8;
  color: #fff;
  outline: none;
}

.button--simple--alt.pseudo-class-hover,
.button--simple--alt.pseudo-class-focus {
  background: #00326d;
}

.button--text.pseudo-class-hover,
.button--text.pseudo-class-focus {
  color: #0055b8;
  outline: none;
}

.form-field__icon.pseudo-class-hover,
.form-field__icon.pseudo-class-focus {
  color: #0055b8;
}

.form-field__icon--weak.pseudo-class-hover,
.form-field__icon--weak.pseudo-class-focus {
  color: #333;
}

.checkbox__field.pseudo-class-checked + .checkbox__indicator {
  color: #0055b8;
}

.checkbox__field.pseudo-class-focus + .checkbox__indicator {
  border-color: #6a6a6a;
}

a.sticker.pseudo-class-hover,
a.sticker.pseudo-class-focus {
  background: #0055b8;
  color: #fff;
}

a.pseudo-class-hover,
a.pseudo-class-focus {
  color: #2793e0;
}

.o-inline__item.pseudo-class-first-child {
  margin-left: 0;
}

.c-alert__button.pseudo-class-hover,
.c-alert__button.pseudo-class-focus {
  color: #d9d9d9;
}

.c-banner__link.pseudo-class-hover,
.c-banner__link.pseudo-class-focus {
  color: #0055b8;
}

.c-block-list__link.pseudo-class-hover,
.c-block-list__link.pseudo-class-focus {
  color: #333;
}

.c-card__link a.pseudo-class-hover,
.c-card__link a.pseudo-class-focus {
  color: #333;
}

.c-content-tout__link.pseudo-class-hover,
.c-content-tout__link.pseudo-class-focus {
  color: #333;
}

.c-footer__logo.pseudo-class-last-child {
  margin-right: 0;
}

.c-footer__column.pseudo-class-last-child {
  margin-right: 0;
}

.c-footer__link.pseudo-class-hover,
.c-footer__link.pseudo-class-focus {
  color: #0055b8;
}

.c-list-box--secondary .c-list-box__heading.pseudo-class-hover,
.c-list-box--secondary .c-list-box__heading.pseudo-class-focus {
  color: #0055b8;
  outline: none;
}

.c-list-box--secondary .c-list-box__heading.pseudo-class-hover .icon,
.c-list-box--secondary .c-list-box__heading.pseudo-class-focus .icon {
  color: #333;
}

.c-list-box--primary .c-list-box__subitem.pseudo-class-first-child {
  padding-top: 1.875rem;
}

.c-list-box--primary .c-list-box__subitem.pseudo-class-last-child {
  padding-bottom: 1.875rem;
}

.c-list-box--secondary .c-list-box__subitem.pseudo-class-hover,
.c-list-box--secondary .c-list-box__subitem.pseudo-class-focus {
  background: #0055b8;
}

.c-list-box--quaternary .c-list-box__subitem.pseudo-class-hover,
.c-list-box--quaternary .c-list-box__subitem.pseudo-class-focus {
  background: #00326d;
}

.c-nav-list__link.pseudo-class-hover,
.c-nav-list__link.pseudo-class-focus {
  background-color: #2793e0;
  border-color: #2793e0;
  color: #fff;
}

.c-nav-list__link.pseudo-class-hover:after,
.c-nav-list__link.pseudo-class-focus:after {
  content: '';
  display: block;
  border: 10px solid transparent;
  border-left-color: inherit;
  margin-top: -10px;
  position: absolute;
  right: -20px;
  top: 50%;
}

.signup-form__field.pseudo-class-focus {
  border-color: #6a6a6a;
  outline: none;
}

.c-tip__link.pseudo-class-hover,
.c-tip__link.pseudo-class-focus {
  color: #d9d9d9;
}

button.baby-background.pseudo-class-hover,
button.baby-background.pseudo-class-focus,
a.baby-background.pseudo-class-hover,
a.baby-background.pseudo-class-focus {
  background-color: #7f1c4e !important;
  border-color: #7f1c4e !important;
  outline: none;
}

button.baby-secondary.pseudo-class-hover,
button.baby-secondary.pseudo-class-focus,
a.baby-secondary.pseudo-class-hover,
a.baby-secondary.pseudo-class-focus {
  background-color: #d8006d !important;
  border-color: #d8006d !important;
  outline: none;
}

button.toddler-background.pseudo-class-hover,
button.toddler-background.pseudo-class-focus,
a.toddler-background.pseudo-class-hover,
a.toddler-background.pseudo-class-focus {
  background-color: #fb0000 !important;
  border-color: #fb0000 !important;
  outline: none;
}

button.toddler-secondary.pseudo-class-hover,
button.toddler-secondary.pseudo-class-focus,
a.toddler-secondary.pseudo-class-hover,
a.toddler-secondary.pseudo-class-focus {
  background-color: #ff6100 !important;
  border-color: #ff6100 !important;
  outline: none;
}

button.pre-schooler-background.pseudo-class-hover,
button.pre-schooler-background.pseudo-class-focus,
a.pre-schooler-background.pseudo-class-hover,
a.pre-schooler-background.pseudo-class-focus {
  background-color: #ff6100 !important;
  border-color: #ff6100 !important;
  outline: none;
}

button.pre-schooler-secondary.pseudo-class-hover,
button.pre-schooler-secondary.pseudo-class-focus,
a.pre-schooler-secondary.pseudo-class-hover,
a.pre-schooler-secondary.pseudo-class-focus {
  background-color: #ff9d00 !important;
  border-color: #ff9d00 !important;
  outline: none;
}

button.grade-schooler-background.pseudo-class-hover,
button.grade-schooler-background.pseudo-class-focus,
a.grade-schooler-background.pseudo-class-hover,
a.grade-schooler-background.pseudo-class-focus {
  background-color: #1d5d11 !important;
  border-color: #1d5d11 !important;
  outline: none;
}

button.grade-schooler-secondary.pseudo-class-hover,
button.grade-schooler-secondary.pseudo-class-focus,
a.grade-schooler-secondary.pseudo-class-hover,
a.grade-schooler-secondary.pseudo-class-focus {
  background-color: #35c621 !important;
  border-color: #35c621 !important;
  outline: none;
}

button.pre-teen-background.pseudo-class-hover,
button.pre-teen-background.pseudo-class-focus,
a.pre-teen-background.pseudo-class-hover,
a.pre-teen-background.pseudo-class-focus {
  background-color: #00326d !important;
  border-color: #00326d !important;
  outline: none;
}

button.pre-teen-secondary.pseudo-class-hover,
button.pre-teen-secondary.pseudo-class-focus,
a.pre-teen-secondary.pseudo-class-hover,
a.pre-teen-secondary.pseudo-class-focus {
  background-color: #0055b8 !important;
  outline: none;
}

.show-for-keyboard.pseudo-class-focus {
  height: auto;
  position: static;
  width: auto;
}