[hidden][aria-hidden="false"].pseudo-class-focus {
  clip: auto;
}

main.pseudo-class-focus,
section.pseudo-class-focus {
  outline: none;
}

.button--primary.pseudo-class-focus {
  background: transparent;
  color: #fff;
}

.no-touchevents .button--primary.pseudo-class-hover {
  background: transparent;
  color: #fff;
}

.button--outline--gray.pseudo-class-focus {
  color: #333;
  opacity: 1;
}

.no-touchevents .button--outline--gray.pseudo-class-hover {
  color: #333;
  opacity: 1;
}

.button--outline--white.pseudo-class-focus {
  background: #fff;
  color: #2793e0;
}

.no-touchevents .button--outline--white.pseudo-class-hover {
  background: #fff;
  color: #2793e0;
}

.button--pill.pseudo-class-focus {
  background: #0055b8;
  color: #fff;
}

.no-touchevents .button--pill.pseudo-class-hover {
  background: #0055b8;
  color: #fff;
}

.button--pill--alt.pseudo-class-focus {
  background: #00326d;
}

.no-touchevents .button--pill--alt.pseudo-class-hover {
  background: #00326d;
}

.button--pill--es.pseudo-class-focus {
  background: #3c036f;
}

.no-touchevents .button--pill--es.pseudo-class-hover {
  background: #3c036f;
}

.button--simple.pseudo-class-focus {
  background: #0055b8;
  color: #fff;
  outline: none;
}

.no-touchevents .button--simple.pseudo-class-hover {
  background: #0055b8;
  color: #fff;
  outline: none;
}

.button--simple--alt.pseudo-class-focus {
  background: #00326d;
}

.no-touchevents .button--simple--alt.pseudo-class-hover {
  background: #00326d;
}

.button--text.pseudo-class-focus {
  color: #0055b8;
  outline: none;
}

.no-touchevents .button--text.pseudo-class-hover {
  color: #0055b8;
}

.form-field__icon.pseudo-class-focus {
  color: #0055b8;
}

.no-touchevents .form-field__icon.pseudo-class-hover {
  color: #0055b8;
}

.form-field__icon--weak.pseudo-class-focus {
  color: #333;
}

.no-touchevents .form-field__icon--weak.pseudo-class-hover {
  color: #333;
}

.checkbox__field.pseudo-class-checked + .checkbox__indicator {
  color: #0055b8;
}

.checkbox__field.pseudo-class-focus + .checkbox__indicator {
  border-color: #6a6a6a;
}

a.sticker.pseudo-class-focus {
  background: #0055b8;
  color: #fff;
}

.no-touchevents a.sticker.pseudo-class-hover {
  background: #0055b8;
  color: #fff;
}

a.pseudo-class-focus {
  color: #2793e0;
}

.no-touchevents a.pseudo-class-hover {
  color: #2793e0;
}

.o-inline__item.pseudo-class-first-child {
  margin-left: 0;
}

.c-alert__button.pseudo-class-focus {
  color: #d9d9d9;
}

.no-touchevents .c-alert__button.pseudo-class-hover {
  color: #d9d9d9;
}

.c-banner__link.pseudo-class-focus {
  color: #0055b8;
}

.no-touchevents .c-banner__link.pseudo-class-hover {
  color: #0055b8;
}

.c-language-switcher-wrapper .c-language__switcher .wpml-ls-legacy-list-horizontal li.pseudo-class-last-child {
  margin-right: 0;
}

.c-language-switcher-wrapper .c-language__switcher .wpml-ls-legacy-list-horizontal li.pseudo-class-last-child a {
  padding-right: 0;
}

.c-language-switcher-wrapper .c-language__switcher .wpml-ls-legacy-list-horizontal li a.pseudo-class-hover {
  color: #2793e0;
}

.c-block-list__link.pseudo-class-focus {
  color: #333;
}

.no-touchevents .c-block-list__link.pseudo-class-hover {
  color: #333;
}

.c-card__link a.pseudo-class-focus {
  color: #333;
}

.no-touchevents .c-card__link a.pseudo-class-hover {
  color: #333;
}

.c-content-tout__link a.pseudo-class-focus {
  color: #333;
}

.no-touchevents .c-content-tout__link a.pseudo-class-hover {
  color: #333;
}

.c-footer__logo.pseudo-class-last-child {
  margin-right: 0;
}

.c-footer__column.pseudo-class-last-child {
  margin-right: 0;
}

.c-footer__link.pseudo-class-focus {
  color: #0055b8;
}

.no-touchevents .c-footer__link.pseudo-class-hover {
  color: #0055b8;
}

.c-list-box--secondary .c-list-box__heading.pseudo-class-focus {
  color: #0055b8;
  outline: none;
}

.c-list-box--secondary .c-list-box__heading.pseudo-class-focus .icon {
  color: #333;
}

.no-touchevents .c-list-box--secondary .c-list-box__heading.pseudo-class-hover {
  color: #0055b8;
}

.no-touchevents .c-list-box--secondary .c-list-box__heading.pseudo-class-hover .icon {
  color: #333;
}

.c-list-box--primary .c-list-box__subitem.pseudo-class-first-child {
  padding-top: 1.875rem;
}

.c-list-box--primary .c-list-box__subitem.pseudo-class-last-child {
  padding-bottom: 1.875rem;
}

.c-list-box--secondary .c-list-box__subitem.pseudo-class-focus {
  background: #0055b8;
}

.no-touchevents .c-list-box--secondary .c-list-box__subitem.pseudo-class-hover {
  background: #0055b8;
  color: inherit;
}

.c-list-box--quaternary .c-list-box__subitem.pseudo-class-focus {
  background: #00326d;
}

.no-touchevents .c-list-box--quaternary .c-list-box__subitem.pseudo-class-hover {
  background: #00326d;
  color: inherit;
}

.c-nav-list__link.pseudo-class-focus {
  background-color: #2793e0;
  border-color: #2793e0;
  color: #fff;
}

.no-touchevents .c-nav-list__link.pseudo-class-hover {
  background-color: #2793e0;
  border-color: #2793e0;
  color: #fff;
}

.signup-form__field.pseudo-class-focus {
  border-color: #6a6a6a;
  outline: none;
}

.c-tip__link.pseudo-class-focus {
  color: #d9d9d9;
}

.no-touchevents .c-tip__link.pseudo-class-hover {
  color: #d9d9d9;
}

button.baby-background.pseudo-class-focus,
a.baby-background.pseudo-class-focus {
  background-color: #7f1c4e !important;
  border-color: #7f1c4e !important;
  outline: none;
}

.no-touchevents button.baby-background.pseudo-class-hover,
.no-touchevents a.baby-background.pseudo-class-hover {
  background-color: #7f1c4e !important;
  border-color: #7f1c4e !important;
  outline: none;
}

button.baby-secondary.pseudo-class-focus,
a.baby-secondary.pseudo-class-focus {
  background-color: #d8006d !important;
  border-color: #d8006d !important;
  outline: none;
}

.no-touchevents button.baby-secondary.pseudo-class-hover,
.no-touchevents a.baby-secondary.pseudo-class-hover {
  background-color: #d8006d !important;
  border-color: #d8006d !important;
}

button.toddler-background.pseudo-class-focus,
a.toddler-background.pseudo-class-focus {
  background-color: #fb0000 !important;
  border-color: #fb0000 !important;
  outline: none;
}

.no-touchevents button.toddler-background.pseudo-class-hover,
.no-touchevents a.toddler-background.pseudo-class-hover {
  background-color: #fb0000 !important;
  border-color: #fb0000 !important;
}

button.toddler-secondary.pseudo-class-focus,
a.toddler-secondary.pseudo-class-focus {
  background-color: #ff6100 !important;
  border-color: #ff6100 !important;
  outline: none;
}

.no-touchevents button.toddler-secondary.pseudo-class-hover,
.no-touchevents a.toddler-secondary.pseudo-class-hover {
  background-color: #ff6100 !important;
  border-color: #ff6100 !important;
}

button.pre-schooler-background.pseudo-class-focus,
a.pre-schooler-background.pseudo-class-focus {
  background-color: #ff6100 !important;
  border-color: #ff6100 !important;
  outline: none;
}

.no-touchevents button.pre-schooler-background.pseudo-class-hover,
.no-touchevents a.pre-schooler-background.pseudo-class-hover {
  background-color: #ff6100 !important;
  border-color: #ff6100 !important;
}

button.pre-schooler-secondary.pseudo-class-hover,
button.pre-schooler-secondary.pseudo-class-focus,
a.pre-schooler-secondary.pseudo-class-hover,
a.pre-schooler-secondary.pseudo-class-focus {
  background-color: #ff9d00 !important;
  border-color: #ff9d00 !important;
  outline: none;
}

.no-touchevents button.pre-schooler-secondary.pseudo-class-hover,
.no-touchevents a.pre-schooler-secondary.pseudo-class-hover {
  background-color: #ff9d00 !important;
  border-color: #ff9d00 !important;
}

button.grade-schooler-background.pseudo-class-focus,
a.grade-schooler-background.pseudo-class-focus {
  background-color: #1d5d11 !important;
  border-color: #1d5d11 !important;
  outline: none;
}

.no-touchevents button.grade-schooler-background.pseudo-class-hover,
.no-touchevents a.grade-schooler-background.pseudo-class-hover {
  background-color: #1d5d11 !important;
  border-color: #1d5d11 !important;
}

button.grade-schooler-secondary.pseudo-class-focus,
a.grade-schooler-secondary.pseudo-class-focus {
  background-color: #35c621 !important;
  border-color: #35c621 !important;
  outline: none;
}

.no-touchevents button.grade-schooler-secondary.pseudo-class-hover,
.no-touchevents a.grade-schooler-secondary.pseudo-class-hover {
  background-color: #35c621 !important;
  border-color: #35c621 !important;
}

button.pre-teen-background.pseudo-class-focus,
a.pre-teen-background.pseudo-class-focus {
  background-color: #00326d !important;
  border-color: #00326d !important;
  outline: none;
}

.no-touchevents button.pre-teen-background.pseudo-class-hover,
.no-touchevents a.pre-teen-background.pseudo-class-hover {
  background-color: #00326d !important;
  border-color: #00326d !important;
}

button.pre-teen-secondary.pseudo-class-focus,
a.pre-teen-secondary.pseudo-class-focus {
  background-color: #0055b8 !important;
  outline: none;
}

.no-touchevents button.pre-teen-secondary.pseudo-class-hover,
.no-touchevents a.pre-teen-secondary.pseudo-class-hover {
  background-color: #0055b8 !important;
  border-color: #0055b8 !important;
}

button.teen-background.pseudo-class-focus,
a.teen-background.pseudo-class-focus {
  background-color: #3c036f !important;
  border-color: #3c036f !important;
  outline: none;
}

.no-touchevents button.teen-background.pseudo-class-hover,
.no-touchevents a.teen-background.pseudo-class-hover {
  background-color: #3c036f !important;
  border-color: #3c036f !important;
}

button.teen-secondary.pseudo-class-focus,
a.teen-secondary.pseudo-class-focus {
  background-color: #7735b2 !important;
  outline: none;
}

.no-touchevents button.teen-secondary.pseudo-class-hover,
.no-touchevents a.teen-secondary.pseudo-class-hover {
  background-color: #7735b2 !important;
  border-color: #7735b2 !important;
}

button.young-adult-background.pseudo-class-focus,
a.young-adult-background.pseudo-class-focus {
  background-color: #2d333d !important;
  border-color: #2d333d !important;
  outline: none;
}

.no-touchevents button.young-adult-background.pseudo-class-hover,
.no-touchevents a.young-adult-background.pseudo-class-hover {
  background-color: #2d333d !important;
  border-color: #2d333d !important;
}

button.young-adult-secondary.pseudo-class-focus,
a.young-adult-secondary.pseudo-class-focus {
  background-color: #404657 !important;
  outline: none;
}

.no-touchevents button.young-adult-secondary.pseudo-class-hover,
.no-touchevents a.young-adult-secondary.pseudo-class-hover {
  background-color: #404657 !important;
  border-color: #404657 !important;
}

.show-for-keyboard.pseudo-class-focus {
  height: auto;
  position: static;
  width: auto;
}