[hidden][aria-hidden="false"].pseudo-class-focus {
  clip: auto;
}

.button--text.pseudo-class-hover,
.button--text.pseudo-class-focus {
  color: #0055b8;
  outline: none;
}

a.pseudo-class-hover,
a.pseudo-class-focus {
  color: #2793e0;
}

.o-inline__item.pseudo-class-first-child {
  margin-left: 0;
}

.c-banner__link.pseudo-class-hover,
.c-banner__link.pseudo-class-focus {
  color: #0055b8;
}

.c-footer__logo.pseudo-class-last-child {
  margin-right: 0;
}

.c-footer__column.pseudo-class-last-child {
  margin-right: 0;
}

.c-footer__link.pseudo-class-hover,
.c-footer__link.pseudo-class-focus {
  color: #0055b8;
}

.show-for-keyboard.pseudo-class-focus {
  height: auto;
  position: static;
  width: auto;
}