// Site Variables
//

// Breakpoints
$large: 1000px;

$root-font-size: 100%;
$black: #000;
$white: #fff;

$fa-font-path: "assets/fonts";

//////////////////////////////
// Menu
/////////////////////////////
$offcanvas-fixed-reveal: false;
