// Site Variables
//

// Breakpoints
$large: 1000px;

$root-font-size: 100%;
$black: #000;
$white: #fff;

$fa-font-path: "assets/fonts";

//////////////////////////////
// Menu
/////////////////////////////
$offcanvas_side_width: 300px;
