/* = The Events Calendar List Widget
   @ Template: pro/widgets/list-widget.php
=============================================*/

.tribe-mini-calendar-event {
	margin-bottom: 5px;
	overflow: hidden;
	padding-bottom: 5px;
	width: 100%;

	&.first {
		margin-top: 10px;
	}
}