<section class="o-content-container--text s-wysiwyg u-top-spacing-small" id="section-{{ section.slug }}">
  <h2>{{ section.section_title }}</h2> {# translation comes from page content #}
  {{ section.section_content }} {# translation comes from page content #}
</section>