<svg role="img" class="icon--xxsmall"><use xlink:href="#map-marker"></use></svg><a class="c-card__link" href="{{post.google_map_link}}" target="_blank">{{post.venue}},
  {% for borough in post.terms('borough') %}
    {{borough.name}}
  {% endfor %}
</a>
