<div class="c-language-switcher-wrapper">
  <div class="o-container c-language__switcher">
    <div class="wpml-ls-sidebars-top_widget wpml-ls wpml-ls-legacy-list-horizontal">
      {% spaceless %}
      <ul>
        {% for key, value in languages %}
          <li class="wpml-ls-slot-top_widget wpml-ls-item wpml-ls-item-{{ key }} {% if key == current %}wpml-ls-current-language{% endif %} wpml-ls-item-legacy-list-horizontal">
            <a href="{{ value['url'] }}" title="{{ value['native_name'] }}">
              <span class="wpml-ls-native">{{ value['native_name'] }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% endspaceless %}
    </div>
  </div>
</div>
