<aside class="c-tip u-sm-gutter o-content-container">
  <div class="c-tip__sticker sticker">
    <svg class="icon--large" role="img" aria-hidden="true"><use xlink:href="#icon-envelope-o"></use></svg>
  </div>
  <div class="c-tip__inner">
    {% include 'partials/email-signup.twig' with {form_id:post.slug, full_width:true, title:section.section_title} %}
  </div>
</aside>