{% if previous %}
<a class="button--outline button--outline--gray alignleft" href="{{ previous }}">{{ __('Previous', 'guny') }}</a>
{% endif %}

{% if next %}
<a class="button--outline button--outline--gray alignright" href="{{ next }}">{{ __('Next', 'guny') }}</a>
{% endif %}