<div id="js-disclaimer" class="c-disclaimer-text" hidden aria-hidden="true">
  <p>
    {# <svg class="icon icon-info screener-disclaimer__icon screener-disclaimer__icon--pre f-grey-dark">
      <use xlink:href="#icon-info"></use>
    </svg> #}
    {{ text }}
  </p>
</div>
