{% extends "partials/teaser.twig" %}

{% block sticker_content %}
  {{post.start_date_formatted}}
{% endblock %}

{% block subtitle %}
  {% embed "partials/event-date.twig" %}
    {% block startDate %}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block link %}
  {% if post.venue %}
    <p class="c-card__link">
      {% include 'partials/event-link.twig' %}
    </p>
  {% endif %}
{% endblock %}
