{% extends "partials/teaser.twig" %}

{% block sticker %}
<div class="c-card__sticker {{post.age_group|sanitize}}-background" aria-hidden="true">
  <svg class="icon--large"><title>Duck</title><use xlink:href="#duck"></use></svg>
</div>
{% endblock %}

{% block tags %}{% endblock %}
