{% extends "partials/teaser.twig" %}

{% block sticker %}
<div class="c-card__sticker {{post.age_group|sanitize}}-background sticker" aria-hidden="true">
  <svg class="icon--large"><title>{{post.age_group}}</title><use xlink:href="#{{post.age_group|sanitize}}"></use></svg>
</div>
{% endblock %}

{% block subtitle_block %}{% endblock %}

{% block tags_block %}{% endblock %}

{% block body %}
{{post.post_excerpt ? post.post_excerpt : post.intro_content|excerpt(15)}}
{% endblock %}
