// Fonts

$cdn: '../../assets/';
$path-to-images: 'img/';
$path-to-icons: 'svg/';

@import "@nycopportunity/growingup-patterns/src/elements/fonts/fonts";

// Settings (Global variables)
// =====================
@import "neat-helpers";
@import "settings/_variables.json.scss";
@import "settings/_variables.scss";

// Tools (Default mixins and functions)
// =====================
@import "bourbon";
@import "neat";
@import 'animate.scss/vendor/assets/stylesheets/animate/fadeInDown';
@import "tools/unit";
@import "tools/type";
@import "tools/images";
@import "tools/layout";
@import "tools/splatter";
@import "tools/media";

// Objects (Design patterns)
// =====================
@import "objects/columns";

// Components (Styled pieces of UI)
// =====================
@import "components/age-guide-card";
@import "components/list-box";
@import "components/tip-card";
@import "components/disclaimer";
@import "components/tip";

// Elements (Styles for common HTML elements)
@import "elements/logo-banner";
// @import "elements/splatter";
// @import "elements/tables";

// Scopes
// @import "scopes/404";

// Utilities
@import "utilities/utility";

/**
 * Elements
 */
@import "@nycopportunity/growingup-patterns/src/elements/button/button";
@import "@nycopportunity/growingup-patterns/src/elements/divider/divider";
@import "@nycopportunity/growingup-patterns/src/elements/input/input";
@import "@nycopportunity/growingup-patterns/src/elements/checkbox/checkbox";
@import "@nycopportunity/growingup-patterns/src/elements/icons/icons";
@import "@nycopportunity/growingup-patterns/src/elements/base/base";
@import "@nycopportunity/growingup-patterns/src/elements/sticker/sticker";
@import "@nycopportunity/growingup-patterns/src/elements/alert/alert";
@import "@nycopportunity/growingup-patterns/src/elements/table/table";


/**
 * Components
 */
@import "@nycopportunity/growingup-patterns/src/components/side-hero/side-hero";
@import "@nycopportunity/growingup-patterns/src/components/list-box/list-box";
@import "@nycopportunity/growingup-patterns/src/components/block-list/block-list";
@import "@nycopportunity/growingup-patterns/src/components/hero/hero";
@import "@nycopportunity/growingup-patterns/src/components/card/card";
@import "@nycopportunity/growingup-patterns/src/components/side-navigation/side-navigation";
@import "@nycopportunity/growingup-patterns/src/components/tip/tip";
@import "@nycopportunity/growingup-patterns/src/components/tip-card/tip-card";
@import "@nycopportunity/growingup-patterns/src/components/arrow-pager/arrow-pager";
@import "@nycopportunity/growingup-patterns/src/components/details-list/details-list";
@import "@nycopportunity/growingup-patterns/src/components/share/share";
@import "@nycopportunity/growingup-patterns/src/components/wysiwyg/wysiwyg";
@import "@nycopportunity/growingup-patterns/src/components/language-switcher/language-switcher";
@import "@nycopportunity/growingup-patterns/src/components/form/form";
@import "@nycopportunity/growingup-patterns/src/components/back-to-top/back-to-top";

/**
 * Objects
 */
@import "@nycopportunity/growingup-patterns/src/objects/footer/footer";
@import "@nycopportunity/growingup-patterns/src/objects/alert-banner/alert-banner";
@import "@nycopportunity/growingup-patterns/src/objects/static-column/static-column";
@import "@nycopportunity/growingup-patterns/src/objects/navigation/navigation";
@import "@nycopportunity/growingup-patterns/src/objects/accordion/accordion";
@import "@nycopportunity/growingup-patterns/src/objects/overlay/overlay";
@import "@nycopportunity/growingup-patterns/src/objects/container/container";
@import "@nycopportunity/growingup-patterns/src/objects/newsletter/newsletter";
@import "@nycopportunity/growingup-patterns/src/objects/article/article";
@import "@nycopportunity/growingup-patterns/src/objects/content/content";
@import "@nycopportunity/growingup-patterns/src/objects/inline-list/inline-list";

/**
 * Utilities
 */
@import "@nycopportunity/growingup-patterns/src/utilities/accessibility/accessibility";
@import "@nycopportunity/growingup-patterns/src/utilities/animations/animations";
@import "@nycopportunity/growingup-patterns/src/utilities/typography/typography";
@import "@nycopportunity/growingup-patterns/src/utilities/offcanvas/offcanvas";
@import "@nycopportunity/growingup-patterns/src/utilities/color/color";
@import "@nycopportunity/growingup-patterns/src/utilities/color/color-milestones";
@import "@nycopportunity/growingup-patterns/src/utilities/color/color-post-types";
@import "@nycopportunity/growingup-patterns/src/utilities/form-effects/form-effects";
@import "@nycopportunity/growingup-patterns/dist/styles/_tailwind.scss";
@import "@nycopportunity/growingup-patterns/src/utilities/sticky/sticky";
@import "@nycopportunity/growingup-patterns/src/utilities/spacing/spacing";
@import "@nycopportunity/growingup-patterns/src/utilities/background-image/background-image";

/*
 * Miscellaneous
 */

/* WPML */
.wpml-ls-display {
  display: none;
}

.send_placeholder {
  display: none;
}

.send__success {
  display: none;
}