$language: 'ar';

$font-family-text: 'Markazi Text', serif;
$font-family-display: 'El Messiri', sans-serif;
// $font-family-text: 'Markazi Text', serif;
// $font-family-display: 'Markazi Text', serif;

@import 'imports';
