$language: '';// Settings (Global variables)
// =====================
@import "neat-helpers";
@import "settings/_variables.json.scss";
@import "settings/_variables.scss";

// Tools (Default mixins and functions)
// =====================
@import "bourbon";
@import "neat";
@import 'animate.scss/vendor/assets/stylesheets/animate/fadeInDown';
@import "tools/unit";
@import "tools/type";
@import "tools/images";
@import "tools/layout";
@import "tools/splatter";
@import "tools/media";

// Resets (CSS resets and normalizers)
// =====================
@import "resets/*";

// Base (Unclassed HTML elements)
// =====================
@import "base/*";

// Objects (Design patterns)
// =====================
@import "objects/*";

// Components (Styled pieces of UI)
// =====================
@import "components/*";

// Elements (Styles for common HTML elements)
// =====================
@import "elements/*";

// Scopes (Styles scoped to a specific context)
// =====================
@import "scopes/*";

// Vendor (Styles for third-party plugins)
// =====================
@import "vendor/*";

// Utilities
// =====================
@import "utilities/*";

// Growing Up NYC Patterns
@import "@nycopportunity/growingup-patterns/src/utilities/offcanvas/offcanvas";