/**
 * Colors
 */

// Dependencies
@import '../settings/variables';

// Declarations
// These are mapped to Tailwind.css utilities. When we integrate those utils into
// the patterns library for Growing Up we can remove these.
// EXCEPTION, Tailwind doesn't support svg coloring so leave those.
.bg-pure-orange,
.hover\:bg-pure-orange:hover {
  background-color: $pure-orange !important;
}

.border-pure-orange,
.hover\:border-pure-orange:hover {
  border-color: $pure-orange !important;
}

.text-pure-orange,
.hover\:text-pure-orange:hover {
  color: $pure-orange !important;
}

.fill-pure-orange,
.hover\:fill-pure-orange:hover {
  fill: $pure-orange !important;
}

.stop-color-pure-orange,
.hover\:stop-color-pure-orange:hover {
  stop-color: $pure-orange !important;
}

//

.bg-vivid-orange,
.hover\:bg-vivid-orange:hover {
  background-color: $vivid-orange !important;
}

.border-vivid-orange,
.hover\:border-vivid-orange:hover {
  border-color: $vivid-orange !important;
}

.text-vivid-orange,
.hover\:text-vivid-orange:hover {
  color: $vivid-orange !important;
}

.fill-vivid-orange,
.hover\:fill-vivid-orange:hover {
  fill: $vivid-orange !important;
}

.stop-color-vivid-orange,
.hover\:stop-color-vivid-orange:hover {
  stop-color: $vivid-orange !important;
}

//

.bg-bright-red,
.hover\:bg-bright-red:hover {
  background-color: $bright-red !important;
}

.border-bright-red,
.hover\:border-bright-red:hover {
  border-color: $bright-red !important;
}

.text-bright-red,
.hover\:text-bright-red:hover {
  color: $bright-red !important;
}

//

.bg-white,
.hover\:bg-white:hover {
  background-color: $white !important;
}

.border-white,
.hover\:border-white:hover {
  border-color: $white !important;
}

.text-white,
.hover\:text-white:hover {
  color: $white !important;
}

// 
.bg-strong-blue,
.hover\:bg-strong-blue:hover {
  background-color: $strong-blue !important;
}

.border-strong-blue,
.hover\:border-strong-blue:hover {
  border-color: $strong-blue !important;
}

.text-strong-blue,
.hover\:text-strong-blue:hover {
  color: $strong-blue !important;
}

.fill-strong-blue,
.hover\:fill-strong-blue:hover {
  fill: $strong-blue !important;
}

.stop-color-strong-blue,
.hover\:stop-color-strong-blue:hover {
  stop-color: $strong-blue !important;
}

// 
.bg-very-strong-blue,
.hover\:bg-very-strong-blue:hover {
  background-color: $very-strong-blue !important;
}

.border-very-strong-blue,
.hover\:border-very-strong-blue:hover {
  border-color: $very-strong-blue !important;
}

.text-very-strong-blue,
.hover\:text-very-strong-blue:hover {
  color: $very-strong-blue !important;
}

.fill-very-strong-blue,
.hover\:fill-very-strong-blue:hover {
  fill: $very-strong-blue !important;
}

.stop-color-very-strong-blue,
.hover\:stop-color-very-strong-blue:hover {
  stop-color: $very-strong-blue !important;
}

// 
.bg-blue-2,
.hover\:bg-blue-2:hover {
  background-color: $blue-2 !important;
}

.border-blue-2,
.hover\:border-blue-2:hover {
  border-color: $blue-2 !important;
}

.text-blue-2,
.hover\:text-blue-2:hover {
  color: $blue-2 !important;
}

.fill-blue-2,
.hover\:fill-blue-2:hover {
  fill: $blue-2 !important;
}

.stop-color-blue-2,
.hover\:stop-color-blue-2:hover {
  stop-color: $blue-2 !important;
}

// End Tailwind Utility
