.baby-background {
  background: $color-baby !important;
}

.toddler-background {
  background: $color-toddler !important;
}

.pre-schooler-background {
  background: $color-pre-schooler !important;
}

.grade-schooler-background {
  background: $color-grade-schooler !important;
}

.pre-teen-background {
  background: $color-pre-teen !important;
}