// Utility classes for applying milestone-specific coloring to elements
// Hover/focus styling is applied only to elements that are clickable (links and buttons)

.baby-background {
  background-color: $color-baby !important;
}

button.baby-background,
a.baby-background {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-baby-secondary !important;
    border-color: $color-baby-secondary !important;
    outline: none;
  }
}

.no-touchevents button.baby-background,
.no-touchevents a.baby-background {
  transition: background-color 250ms linear;
  &:hover {
    background-color: $color-baby-secondary !important;
    border-color: $color-baby-secondary !important;
    outline: none;
  }
}

.baby-secondary {
  background-color: $color-baby-secondary !important;
  border-color: $color-baby-secondary !important;
}

button.baby-secondary,
a.baby-secondary {
  &:focus,
  &.is-active {
    background-color: $color-baby !important;
    border-color: $color-baby !important;
    outline: none;
  }
}

.no-touchevents button.baby-secondary,
.no-touchevents a.baby-secondary {
  &:hover {
    background-color: $color-baby !important;
    border-color: $color-baby !important;
  }
}

.baby-text {
  color: $color-baby;
}

.baby-svg {
  .stop1 {
    stop-color: $color-baby-secondary;
  }
  .stop2 {
    stop-color: $color-baby;
  }
}

.baby-gradient {
  background-image: url(/wp-content/themes/guny/assets/img/baby-gradient.png);
}

.toddler-background {
  background-color: $color-toddler !important;
}

button.toddler-background,
a.toddler-background {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-toddler-secondary !important;
    border-color: $color-toddler-secondary !important;
    outline: none;
  }
}

.no-touchevents button.toddler-background,
.no-touchevents a.toddler-background {
  &:hover {
    background-color: $color-toddler-secondary !important;
    border-color: $color-toddler-secondary !important;
  }
}

.toddler-secondary {
  background-color: $color-toddler-secondary !important;
  border-color: $color-toddler-secondary !important;
}

button.toddler-secondary,
a.toddler-secondary {
  &:focus,
  &.is-active {
    background-color: $color-toddler !important;
    border-color: $color-toddler !important;
    outline: none;
  }
}

.no-touchevents button.toddler-secondary,
.no-touchevents a.toddler-secondary {
  &:hover {
    background-color: $color-toddler !important;
    border-color: $color-toddler !important;
  }
}

.toddler-text {
  color: $color-toddler;
}

.toddler-gradient {
  background-image: url(/wp-content/themes/guny/assets/img/toddler-gradient.png);
}

.toddler-svg {
  .stop1 {
    stop-color: $color-toddler-secondary;
  }
  .stop2 {
    stop-color: $color-toddler;
  }
}

.pre-schooler-background {
  background-color: $color-pre-schooler !important;
}

button.pre-schooler-background,
a.pre-schooler-background {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-pre-schooler-secondary !important;
    border-color: $color-pre-schooler-secondary !important;
    outline: none;
  }
}

.no-touchevents button.pre-schooler-background,
.no-touchevents a.pre-schooler-background {
  &:hover {
    background-color: $color-pre-schooler-secondary !important;
    border-color: $color-pre-schooler-secondary !important;
  }
}

.pre-schooler-secondary {
  background-color: $color-pre-schooler-secondary !important;
  border-color: $color-pre-schooler-secondary !important;
}

button.pre-schooler-secondary,
a.pre-schooler-secondary {
  &:hover,
  &:focus,
  &.is-active {
    background-color: $color-pre-schooler !important;
    border-color: $color-pre-schooler !important;
    outline: none;
  }
}

.no-touchevents button.pre-schooler-secondary,
.no-touchevents a.pre-schooler-secondary {
  &:hover {
    background-color: $color-pre-schooler !important;
    border-color: $color-pre-schooler !important;
  }
}

.pre-schooler-text {
  color: $color-pre-schooler;
}

.pre-schooler-gradient {
  background-image: url(/wp-content/themes/guny/assets/img/pre-schooler-gradient.png);
}

.pre-schooler-svg {
  .stop1 {
    stop-color: $color-pre-schooler-secondary;
  }
  .stop2 {
    stop-color: $color-pre-schooler;
  }
}

.grade-schooler-background {
  background-color: $color-grade-schooler !important;
}

button.grade-schooler-background,
a.grade-schooler-background {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-grade-schooler-secondary !important;
    border-color: $color-grade-schooler-secondary !important;
    outline: none;
  }
}

.no-touchevents button.grade-schooler-background,
.no-touchevents a.grade-schooler-background {
  &:hover {
    background-color: $color-grade-schooler-secondary !important;
    border-color: $color-grade-schooler-secondary !important;
  }
}

.grade-schooler-secondary {
  background-color: $color-grade-schooler-secondary !important;
  border-color: $color-grade-schooler-secondary !important;
}

button.grade-schooler-secondary,
a.grade-schooler-secondary {
  &:focus,
  &.is-active {
    background-color: $color-grade-schooler !important;
    border-color: $color-grade-schooler !important;
    outline: none;
  }
}

.no-touchevents button.grade-schooler-secondary,
.no-touchevents a.grade-schooler-secondary {
  &:hover {
    background-color: $color-grade-schooler !important;
    border-color: $color-grade-schooler !important;
  }
}

.grade-schooler-text {
  color: $color-grade-schooler;
}

.grade-schooler-gradient {
  background-image: url(/wp-content/themes/guny/assets/img/grade-schooler-gradient.png);
}

.grade-schooler-svg {
  .stop1 {
    stop-color: $color-grade-schooler-secondary;
  }
  .stop2 {
    stop-color: $color-grade-schooler;
  }
}

.pre-teen-background {
  background-color: $color-pre-teen !important;
}

button.pre-teen-background,
a.pre-teen-background {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-pre-teen-secondary !important;
    border-color: $color-pre-teen-secondary !important;
    outline: none;
  }
}

.no-touchevents button.pre-teen-background,
.no-touchevents a.pre-teen-background {
  &:hover {
    background-color: $color-pre-teen-secondary !important;
    border-color: $color-pre-teen-secondary !important;
  }
}

.pre-teen-secondary {
  background-color: $color-pre-teen-secondary !important;
  border-color: $color-pre-teen-secondary !important;
}

button.pre-teen-secondary,
a.pre-teen-secondary {
  &:focus,
  &.is-active {
    background-color: $color-pre-teen !important;
    outline: none;
  }
}

.no-touchevents button.pre-teen-secondary,
.no-touchevents a.pre-teen-secondary {
  &:hover {
    background-color: $color-pre-teen !important;
    border-color: $color-pre-teen !important;
  }
}

.pre-teen-text {
  color: $color-pre-teen;
}

.pre-teen-gradient {
  background-image: url(/wp-content/themes/guny/assets/img/pre-teen-gradient.png);
}

.pre-teen-svg {
  .stop1 {
    stop-color: $color-pre-teen-secondary;
  }
  .stop2 {
    stop-color: $color-pre-teen;
  }
}

.teen-background {
  background-color: $color-teen !important;
}

button.teen-background,
a.teen-background {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-teen-secondary !important;
    border-color: $color-teen-secondary !important;
    outline: none;
  }
}

.no-touchevents button.teen-background,
.no-touchevents a.teen-background {
  &:hover {
    background-color: $color-teen-secondary !important;
    border-color: $color-teen-secondary !important;
  }
}

.teen-secondary {
  background-color: $color-teen-secondary !important;
  border-color: $color-teen-secondary !important;
}

button.teen-secondary,
a.teen-secondary {
  &:focus,
  &.is-active {
    background-color: $color-teen !important;
    outline: none;
  }
}

.no-touchevents button.teen-secondary,
.no-touchevents a.teen-secondary {
  &:hover {
    background-color: $color-teen !important;
    border-color: $color-teen !important;
  }
}

.teen-text {
  color: $color-teen;
}

.teen-gradient {
  background-image: url(/wp-content/themes/guny/assets/img/teen-gradient.png);
}

.teen-svg {
  .stop1 {
    stop-color: $color-teen-secondary;
  }
  .stop2 {
    stop-color: $color-teen;
  }
}

.young-adult-background {
  background-color: $color-young-adult !important;
}

button.young-adult-background,
a.young-adult-background {
  transition: background-color 250ms linear;
  &:focus,
  &.is-active {
    background-color: $color-young-adult-secondary !important;
    border-color: $color-young-adult-secondary !important;
    outline: none;
  }
}

.no-touchevents button.young-adult-background,
.no-touchevents a.young-adult-background {
  &:hover {
    background-color: $color-young-adult-secondary !important;
    border-color: $color-young-adult-secondary !important;
  }
}

.young-adult-secondary {
  background-color: $color-young-adult-secondary !important;
  border-color: $color-young-adult-secondary !important;
}

button.young-adult-secondary,
a.young-adult-secondary {
  &:focus,
  &.is-active {
    background-color: $color-young-adult !important;
    outline: none;
  }
}

.no-touchevents button.young-adult-secondary,
.no-touchevents a.young-adult-secondary {
  &:hover {
    background-color: $color-young-adult !important;
    border-color: $color-young-adult !important;
  }
}

.young-adult-text {
  color: $color-young-adult;
}

.young-adult-gradient {
  background-image: url(/wp-content/themes/guny/assets/img/young-adult-gradient.png);
}

.teen-svg {
  .stop1 {
    stop-color: $color-teen-secondary;
  }
  .stop2 {
    stop-color: $color-teen;
  }
}