// Horizontal gutter
.u-sm-gutter {
  margin-bottom: $horizontal-gutter;
}

.u-lg-gutter {
  margin-bottom: $outer-gutter;

  @include media($bp-small) {
    margin-bottom: $outer-gutter-small;
  }

  @include media($bp-medium) {
    margin-bottom: $outer-gutter-medium;
  }

  @include media($bp-large) {
    margin-bottom: $outer-gutter-large;
  }
}

// Extra top padding
.u-top-spacing {
  padding-top: rem-calc(45);

  @include media($bp-large) {
    padding-top: rem-calc(60);
  }
}

.u-top-spacing-small {
  padding-top: rem-calc(30);

  @include media($bp-small) {
    padding-top: rem-calc(35);
  }

  @include media($bp-large) {
    padding-top: rem-calc($outer-gutter-large);
  }
}

// Extra bottom padding
.u-bottom-spacing {
  padding-bottom: rem-calc(45);

  @include media($bp-large) {
    padding-bottom: rem-calc(60);
  }
}

.u-bottom-spacing-small {
  padding-bottom: rem-calc(30);

  @include media($bp-small) {
    padding-bottom: rem-calc(35);
  }

  @include media($bp-large) {
    padding-bottom: rem-calc($outer-gutter-large);
  }
}

// Pull an element up to overlap with the one above it
.u-shift-up {
  margin-top: $horizontal-gutter * -2;
}
