/**
* Utility classes
*/

.nowrap {
  white-space: nowrap;
}

/**
* Wordpress image alignment
*/
.alignright {
  float: none;

  @include media($bp-large) {
    float: right;
  }
}

.alignleft {
  float: none;

  @include media($bp-large) {
    float: left;
  }
}

.aligncenter {
  max-width: 100%;
  margin: 0 auto;
}