/**
* Utility classes
*/

.o-0 {
  opacity: 0;
}

.pe-none {
  pointer-events: none;
}

.nowrap {
  white-space: nowrap;
}

// These are mapped to Tailwind.css utilities. When we integrate those utils into
// the patterns library for Growing Up we can remove these.
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.w-full {
  width: 100%;
}

.rounded {
  border-radius: .25rem;
}
// End Tailwind Utility

/**
* Wordpress image alignment
*/
.alignright {
  @include media($bp-small) {
    float: right;
  }
}

.alignleft {
  @include media($bp-small) {
    float: left;
  }
}

.aligncenter {
  max-width: 100%;
  margin: 0 auto;
}

/**
* Text Alignment
*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/**
* Conditional Display
*/
.mobile-hide {
  @include media($bp-mobile-only) {
    display: none !important;
  }
}

.desktop-hide {
  @include media($bp-medium) {
    display: none !important;
  }
}

.absolute--w-top {
  position: absolute;
  top: 15px;
  width: 100%;
}

.relative {
  position: relative;
}