{% extends "microsite-base.twig" %}

{% block content %}

{% block head_extras %}
<style>
  .c-hero-ms__disclaimer { background-color: #7735b2; background-image: url(/wp-content/themes/guny/assets/img/hero-topics-landing.svg); }
</style>
{% endblock %}

{% block hero %}
<div class="js-parallax">
  <header class="c-hero c-hero-ms c-hero-ms__disclaimer js-parallax-content">
    <div class="o-container js-parallax-text">      
      <!-- <p class="c-hero__tagline">{{post.title}}</p> -->
    </div>
  </header>
</div>
{% endblock %}

<section class="o-container u-top-spacing-small u-bottom-spacing">
  <article class="o-content-container--compact o-article-ms__disclaimer">
    <h1 class="c-hero__title u-lg-gutter">{{post.title}}</h1>
    <div class="o-content-container--text s-wysiwyg">
      {% if post.page_content %}
        {{post.page_content}}
      {% endif %}
    </div> <!-- /.o-content-container-text -->
  </article>
</section> <!-- /.o-container.u-bottom-spacing -->
{% endblock %}