{% extends 'base.twig' %}

{% block content %}
  {% block hero %}
  {% endblock %}
  <section class="o-container u-bottom-spacing u-top-spacing-small {% if filtered == false %} u-shift-up {% endif %}">

    <div class="{% if filtered %} o-article-sidebar o-content-container--compact u-lg-gutter {% else %} u-shift-up {% endif %}">
      {% block list_sidebar %}{% endblock %}
    </div>

    {% if filtered %}
    <div class="o-article">
      {% block before_list %}{% endblock %}

      {% block post_list %}
        {% for post in posts %}
          {% include ['partials/teaser-'~post.post_type~'.twig', 'partials/teaser.twig'] %}
        {% endfor %}
      {% endblock %}

      {% block after_list %}{% endblock %}
    </div>
    {% endif %}

  </section> <!-- /.o-layout--large -->
{% endblock %}