{% extends "base.twig" %}
{% block content %}

<section class="o-container u-bottom-spacing u-top-spacing-small">
	{% if post.parent%}
		{% include 'partials/forms/forms-microsite-'~post.slug~'.twig' %}
		{# {{post.parent}} #}
	{% else %}
		{% include 'partials/forms/forms-'~post.slug~'.twig' %}
	{% endif %}
</section>
{% endblock %}