{% extends "base.twig" %}

{% block content %}
<h2>Upcoming Events</h2>
{% for post in events %}
  {% include ['partials/teaser-'~post.post_type~'.twig', 'partials/teaser.twig'] %}
{% endfor %}
<a href="/events">See Full Calendar</a>
{% endblock %}