{% extends "list.twig" %}

{% block head_extras %}
<style>
  .c-hero { background-color: #2793E0; background-image: url(/wp-content/themes/guny/assets/img/hero-program-landing.svg); }
</style>
{% endblock %}

{% block hero %}
<header class="c-hero u-lg-gutter">
  <div class="o-container">
    <h1 class="c-hero__title">{{options.program_landing_title}}</h1>
    <p class="c-hero__tagline">{{options.program_landing_tagline}}</p>
  </div>
</header>
{% endblock %}

{% block post_list %}
<section class="c-block-list c-block-list--shade o-content-container u-sm-gutter">
  {% for post in posts %}
    <div class="c-block-list__item">
      {% include ['partials/teaser-'~post.post_type~'.twig', 'partials/teaser.twig'] %}
    </div>
  {% else %}
    <p class="type--no-results">Sorry, we couldn’t find anything matching your search. <a href="/programs">Clear filters</a></p>
  {% endfor %}
</section>
{% endblock %}
