{% extends "list.twig" %}

{% block head_extras %}
<style>
  .c-hero { background-color: #2793E0; background-image: url(/wp-content/themes/guny/assets/img/hero-program-landing.svg); }
  .facetwp-seo { display: none; }
</style>
{% endblock %}

{% block hero %}
<div class="js-parallax">
  <header class="c-hero js-parallax-content">
    <div class="o-container js-parallax-text">
      <h1 class="c-hero__title">{{options.program_landing_title}}</h1>
      <p class="c-hero__tagline">{{options.program_landing_tagline}}</p>
    </div>
  </header>
</div>
{% endblock %}

{% block list_sidebar %}
  <div class="c-list-box c-list-box--quaternary js-accordion" data-multiselectable="false">

    {# categories #}
    <div class="c-list-box__item">
      <h3 class="js-accordion__header c-list-box__heading" id="type-filter-heading">All Program Types</h3>
      <ul class="js-accordion__content c-list-box__content" id="type-filter-panel" v-for="category in programTypes">
        <li class="c-list-box__subitem">
          <input type="checkbox" :id="category.name" :value="category.term_id" v-model="checkedProgramType" >
            <label :for="category.name">v{ category.name }</label>
        </li>
      </ul>
    </div>

    {# age groups #}
    <div class="c-list-box__item">
      <h3 class="js-accordion__header c-list-box__heading" id="age-filter-heading">All Ages</h3>
      <ul class="js-accordion__content c-list-box__content" id="age-filter-panel" v-for="age in ageGroups">
        <li class="c-list-box__subitem">
          <input type="checkbox" :id="age.name" :value="age.id" v-model="checkedAgeGroup" >
            <label :for="age.name">v{ age.name }</label>
        </li>
      </ul>
    </div>

  </div>
{% endblock %}

{% block post_list %}

<section class="c-block-list c-block-list--shade o-content-container u-sm-gutter">
  <div class="c-block-list__item u-sm-gutter" v-for="post in programs">
    <div class="c-card {{is_first ? "c-card--hero #{age_group.slug|sanitize|replace({'-es':''})}-gradient"}}">
      <a :href="post.link">
        <div class="c-card__sticker sticker" aria-hidden="true">
          <svg class="icon--large"><title>v{ post.programs_cat[0].slug }</title><use :href="'#icon-' + post.programs_cat[0].slug" ></use></svg>
        </div>
      </a>
      <h3 class="c-card__title">
        <a :href="post.link" :title="post.title" rel="bookmark">
          v{ post.title.rendered }
        </a>
      </h3>
      <div class="c-card__subtitle">
        <p><strong>v{post.acf.program_name}</strong></p>
        <p>v{post.acf.government_agency}</p>
      </div>
      <div class="c-card__tags" v-if="post.programs_cat">
        <span v-for="term in post.programs_cat"> 
          <a :href="term" class="button--pill">v{ term.name }</a>
        </span>
        <span v-for="term in post.age_group"> 
          <a :href="term.slug" class="button--pill button--pill--alt">v{ term.name }</a>
        </span>
      </div>
      <div class="c-card__body">
        v{ post.excerpt.rendered }
        
      </div>


    </div>
  </div>
</section>

{% endblock %}

