{% extends "base.twig" %}

{% block content %}

  <div id="vue-{{post_type}}" data-filters="{{filters}}">

    {% block hero %}
    {% endblock %}

    {% block vroom %}
    {% endblock %}

    <section class="o-container u-bottom-spacing u-top-spacing-small desktop:flex">
      <div class="o-article-sidebar o-content-container--compact u-lg-gutter desktop:w-sidebar">
        {% block list_sidebar %}
        {% endblock %}
      </div>
      <div class="o-article desktop:w-article">
        {% block before_list %}
        {% endblock %}

        {% block post_list %}
          {% for post in posts %}
            {% include ['partials/teaser-'~post.post_type~'.twig', 'partials/teaser.twig'] %}
          {% endfor %}
        {% endblock %}

        {% block after_list %}
        {% endblock %}
      </div> <!-- /.o-article -->
    </section> <!-- /.o-layout--large -->
  </div>
{% endblock %}