{% extends "base.twig" %}

{% block content %}
  {% block hero %}
  {% endblock %}
  <section class="o-container">
    <div class="o-article">
      {% block before_list %}
      {% endblock %}
      {% block post_list %}
        {% for post in posts %}
          {% include ['partials/teaser-'~post.post_type~'.twig', 'partials/teaser.twig'] %}
        {% endfor %}
      {% endblock %}
      {% block after_list %}
      {% endblock %}
    </div> <!-- /.o-article -->
  </section> <!-- /.o-layout--large -->
{% endblock %}
