{% extends "microsite-base.twig" %}

{% block content %}
  {% block hero %}
  {% endblock %}
  <section class="o-container u-bottom-spacing u-top-spacing-small {% block classes %}{% endblock %}">
    <div class="o-article-sidebar o-content-container--compact u-lg-gutter">
      {% block list_sidebar %}
      {% endblock %}
    </div>
    <div class="o-article">
      {% block before_list %}
      {% endblock %}
      {% block post_list %}
        {% for post in posts %}
          {% include ['microsite-landing-virtual.twig'] %}
        {% endfor %}
      {% endblock %}
      {% block after_list %}
      {% endblock %}
    </div> <!-- /.o-article -->
  </section> <!-- /.o-layout--large -->
{% endblock %}