<nav role="navigation">
  <ol>
  {% for age_group in age_menu %}
    <li>
      {{age_group.name}}
      <ul>
        {% for post in age_group.posts('numberposts=-1&post_type=age&orderby=title') %}
          <li><a href="{{post.link}}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ol>
</nav>