<aside class="primary-nav row" id="primaryNav" data-off-canvas data-position="right">
  <ol>
  {% for age_group in age_menu %}
    <li>
      {{age_group.name}}
    </li>
  {% endfor %}
</ol>
</aside> <!-- /.off-canvas -->