{% extends "base.twig" %}

{% block content %}
  <div class="container content-wrapper">
    {{content}}
  </div><!-- /content-wrapper -->
  <div class="salog"> Source file : page-plugin.twig</div>
{% endblock %}