<div class="c-language-switcher-wrapper">
	<div class="o-container c-language__switcher">
    {% do action('wpml_add_language_selector') %}

    <span data-js="translate" class="hidden">{{__('Translate', 'guny')}}</span>
    <span data-js="pick-a-language" class="hidden">{{__('Pick a language', 'guny')}}</span>
    
	</div>

</div>
